<template>
    <el-dialog
    v-loading="loadingSub"
    title="学习计划分配"
    width="60%"
    :visible.sync="poserDialog"
    :destroy-on-close="true"
    :close-on-click-modal="true"
    :before-close="handleClose">
        <div class="company">所属公司：{{ company_name }}</div>
        <el-tabs :stretch="true" v-model="activeValue" @tab-click="tabClick">
            <el-tab-pane label="部门人员选择" name="1"></el-tab-pane>
            <el-tab-pane label="产品选择" name="2"></el-tab-pane>
        </el-tabs>
        <!-- 部门人员选择 -->
        <el-row v-if="activeValue == '1'">
               <el-row class="check_all">
                    <el-col :span="12">
                         <el-checkbox v-model="checkedAllDept" @change="checkedAllDeptChange">全选</el-checkbox>
                    </el-col>
               </el-row>
            <el-col :span="24" class="depInfo">
               <el-input
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
               </el-input>
                <el-tree
                    class="filter-tree"
                    :data="options"
                    show-checkbox
                    node-key="value"
                    ref="tree"
                    :default-checked-keys="selectVal"
                    :default-expanded-keys=[0]
                    highlight-current
                    :filter-node-method="filterNode"
                    @check-change="checkChange"
                    :props="defaultProps">
                    </el-tree>
            </el-col>
        </el-row>
        <div v-else-if="activeValue == '2'">
            <el-checkbox class="checkAllPro" :indeterminate="isIndeterminate" v-model="checkedAllProd" @change="handleCheckAllChange">全选</el-checkbox>
            <div style="margin: 15px 0;"></div>
            <el-checkbox-group class="checkgroup" v-model="checkedCities" @change="ProChange">
                <el-checkbox v-for="item in cities" :key="item.id" :label="item.id">{{ item.series_name }}</el-checkbox>

            </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleClose">取 消</el-button>
            <el-button type="primary" @click="pusbu">确 定</el-button>
        </span>
    </el-dialog>
</template>
<script>
import { getDepartmentsUsers, PowerEdit } from '@/api/learning/learn'

    export default{
        props: {
            poserDialog: {
                type: Boolean,
                default: false
            },
            lid: {
                type: Number,
                default: 0
            },
            select_val: {
                type: Array,
                default: []
            },
             pro_checkeds: {
                type: Array,
                default: []
            },
             pord: {
                type: Boolean,
                default: false
            },
             dept: {
                type: Boolean,
                default: false
            },
            company_name: {
                type: String,
                default: ''
            },
        },
        data(){
            return {
                loadingSub: false,
                activeValue:'1',
                searchVal:'',
                checkedAllDept: false,
                checkedAllProd: false,
                dingUser:[],
                selectId:[],
                options: [],
                props:{
                    multiple:true,
                },
               defaultProps: {
                    children: 'children',
                    label: 'label'
               },
                filterText: '',
                selectVal: [],   
                isIndeterminate: false,
                drug_eries_ids: [],
                checkedCities: [],
                cityOptions:[],
                cities: [],
                deep_option_data: []
            } 
        },
        watch:{
          filterText(val) {
               this.$refs.tree.filter(val);
          },
          select_val: {
               deep: true,
               immediate: true,
               handler: function(val) {
                    this.selectVal = val
               }
          },

          pro_checkeds: {
               deep: true,
               immediate: true,
               handler: function(val) {
                    this.checkedCities = val
               }
          },

          pord: {
               deep: true,
               immediate: true,
               handler: function(val) {
                    this.checkedAllProd = val
               }
          },

          dept: {
               deep: true,
               immediate: true,
               handler: function(val) {
                    this.checkedAllDept = val
               }
          },
          
        },
          created() {
               this.getDepartmentsUsersList()
          },

        methods:{
          filterNode(value, data) {
               if (!value) return true;
               return data.label.indexOf(value) !== -1;
          },
          pusbu(){
            this.loadingSub = true
            PowerEdit({'dir_id': this.lid,'select_val': this.selectVal,'pro_checkeds': this.checkedCities,'pord':this.checkedAllProd,'dept':this.checkedAllDept}).then(res => {
                this.msgSuccess('修改成功')
                this.handleClose()
                this.loadingSub = false
            })
          },
          // 全选
          checkedAllDeptChange (evt){
               console.log(evt)
               if (evt) {     // 详情中没有全选 选择了全选
                    this.$refs.tree.setCheckedKeys([0])
               }else{
                    this.$refs.tree.setCheckedKeys([])
                    this.selectVal = []
               }
          },

          // 组织
          checkChange(data, val, childVal) {
               // 有一个复选框没选中 取消全选
               if(val == false){
                    this.checkedAllDept = false
               }
               this.selectVal = this.$refs.tree.getCheckedKeys()

               // 0下标被选中 勾选 全选
               if(this.selectVal[0] == 0){
                    this.checkedAllDept = true
               }
          },

          // 产品
          ProChange(proCheckDt) {
               if (this.cities.length != proCheckDt.length) {
                    this.checkedAllProd = false
               } else {
                    this.checkedAllProd = true
               }

          },


           // 查询菜单列表 getCheckedKeys
          getDepartmentsUsersList() {
               this.loading = true
               getDepartmentsUsers().then(res => {
                    this.loading = false
                    this.options =  [{
                         value: 0,
                         label: '',
                         children: res.data.list.res
                    }]
                    this.cities = res.data.list.drug_series 
                    this.drug_eries_ids = res.data.list.drug_eries_ids
               })
          },
            // 搜索
            changeData(val){
                this.selectVal = [...val];
            },
            handleClose(){
               console.log(919)
               this.checkedCities = []
               this.selectVal = []
               this.isIndeterminate = false
               this.checkedAllDept = false
               this.checkedAllProd = false
               console.log(this.isIndeterminate)
               this.$emit("poserDialogVisibleClose")
            },
            handleDialog(){
            },
            tabClick(){
            },
            // 选择人员
            handleSelectionChange(val){
                this.selectId = val.map(item => {
                    return item.id
                })
            },
            // 操作产品
            handleCheckAllChange(val){
                this.checkedCities = val ? this.drug_eries_ids : [];
                this.isIndeterminate = false;
            },
        }
    }
</script>
<style lang="scss">
    .el-dialog__header{
        text-align: center;
    }
    .search{
        width: 80%;
    }
    .el-dialog__body{
        padding-top: 10px;
        .check_all,.checkAllPro{
            margin: 20px 0;
            background-color: rgba(255, 243, 237, 1);
            padding: 8px 0 8px 25px;
            border-radius: 4px;
            margin-right: 10px;
        }
        .checkAllPro{
            width:100%;
        }
        .depInfo{
        }
        .company{
            padding: 8px 10px;
            background-color: #ecf5ff;
            color: #409eff;
        }
        .el-tree{
            .el-tree-node__content{
                padding: 8px 0;
                height: auto;
            }
        }
        .pagination-container{
            padding: 0;
            margin-right: -10px;
        }
        .checkgroup{
            padding-left: 25px;
            .el-checkbox{
                display: block;
                margin: 20px 0;
            }    
        }
        
    }
    .el-form--label-top{
        .el-form-item__label{
            padding-bottom: 0;
        }
    }
</style>