<template>
     <el-dialog title="计划详情" :visible="open" :before-close="dstributionAfterDialogClose" style="width: 100%">
     <el-row>
          <el-form :inline="true">
               <el-form-item label="用户名">
                    <el-input v-model="dstributionAfterQuery.keywords" placeholder="用户名或手机"></el-input>
               </el-form-item>
               <el-form-item label="部门">
                    <el-select v-model="dstributionAfterQuery.dep_id" filterable placeholder="请选择">
                                   <el-option
                                   v-for="item in department_ids"
                                   :key="item.id"
                                   :label="item.name"
                                   :value="item.id"
                                   />
                              </el-select>
               </el-form-item>
               <el-form-item>
               <el-button type="primary" class="filter-item" icon="el-icon-search" @click="dstributionAfterSearch">搜索</el-button>
               <div>时间类型：{{['','自动时长','固定时长（手动）','固定时间','无限时'][plan_info.date_type]}}</div>
               <div v-if="plan_info.date_type == 1" >计划时间：入职前 {{plan_info.dt_on}} 天  {{plan_info.dt_off}} 结束 </div>
               <div v-if="plan_info.date_type == 2" >计划时间：开始学习后 {{plan_info.dt_off}} 结束 </div>
               <div v-if="plan_info.date_type == 3" >计划时间：开始时间 {{plan_info.dt_on}}  结束时间 {{plan_info.dt_off}} </div>
               <div v-if="plan_info.date_type == 4" >计划时间：无限时 </div>

               
               <div>学习资料：{{plan_info.m_title}}</div>
               <div>描述：{{plan_info.describe}}</div>

               <div>计划关联：{{plan_info.exam_name}}</div>
               <div>
                    <p v-if="plan_info.send_leader == 1 && plan_info.send_student == 1 ">发送人员：部门负责人，学员</p>
                    <p v-else-if="plan_info.send_leader == 1">发送人员：部门负责人</p>
                    <p v-else-if="plan_info.send_student == 1">发送人员：学员</p>
               </div>
               <div> 
                    <p> 发送节点：
                         <span v-if="plan_info.one_day"> 计划第1天 </span>
                         <span v-if="plan_info.last_day"> 计划最后天 </span>
                         <span v-if="plan_info.node_one"> 计划第{{ plan_info.node_one }}天 </span>
                         <span v-if="plan_info.node_two"> 计划第{{ plan_info.node_two }}天 </span>
                    </p>
               </div>
               </el-form-item>
          </el-form>
          <el-table
               v-loading="loading"
               border
               :data="dstributionAfterList"
               row-key="id"
               highlight-current-row
               style="width: 100%"
          >
               <el-table-column prop="user_name" label="学员" align="left" />
               <el-table-column prop="name" label="所属部门" align="left" />
               <el-table-column prop="user_phone" label="手机号" align="center" />
               <el-table-column prop="" label="学习状态" width="180" align="center">
               <template slot-scope="{row}">
                    <div>{{row.speed}}</div>
               </template>
               </el-table-column>
              
               <el-table-column prop="" label="操作" width="250px" align="center">
               <template slot-scope="{row}">
                    <el-row>
                         <el-col :span="8" />
                         <el-col :span="8">
                              <el-button v-if="row.lr_st == 4" type="primary" size="mini">已关闭</el-button>
                              <el-button v-else-if="row.lr_st == 6"  type="primary" size="mini">已完成</el-button>
                              <el-button v-else v-permission="'learn:close:material'" type="primary" size="mini" @click="closeUserLearnMaterials(row.id, row.user_id)">关闭计划资料</el-button>
                         </el-col>
                    </el-row>
               </template>
               </el-table-column>
          </el-table>         
          <pagination v-show="dstributionAfterTotal>0" :total="dstributionAfterTotal" :page.sync="dstributionAfterQuery.page" :pageSizes="[5,10,20,30,50,100]" :limit.sync="dstributionAfterQuery.page_size" style="clear: both;float: inherit;" @pagination="dstributionAfterSearch" />
     </el-row>
     </el-dialog>
</template>
<script>
import * as alearnApi from '@/api/learning/learn'
import Pagination from '@/components/Pagination'
import axios from 'axios';
export default {
     name: "LearndDstributionAfter",
     // props: ["open", "lid", "uid"],
     props: {
           open: {
            type: Boolean,
            default: false
          },
          learnData: {
               type: Object,
               default: () => {
                    return {
                         lid: {
                              type: String,
                              default: ''
                         }
                    }
               }
          }
     },
     components: { Pagination },

     data: function() {
          return {
               dstributionAfterQuery: {
                    page: 1,
                    page_size: 5,
                    keywords: '',
                    lid: this.learnData.lid
               },

               dopen: this.open,
               dstributionAfterFormData: {

               },
               dstributionAfterList: [],
               plan_info: [],
               dstributionAfterTotal: 0,
               department_ids: [],
               dep_id: ''
          };
     },

     created() {
          this.dstributionAfterSearch()
     },

  methods: {
     dstributionAfterSearch() {
          this.loading = true
          console.log(222)
          console.log(this.dstributionAfterQuery)
          alearnApi.distribution_after(this.dstributionAfterQuery).then(response => {
               console.log(response.data.department_list)
          this.dstributionAfterList = response.data.list
          this.dstributionAfterTotal = response.data.total
          this.department_ids = response.data.department_list
          this.plan_info = response.data.plan_info

console.log(this.plan_info)
          this.loading = false
          }).catch(() => {})
     },

     dstributionAfterDialogClose() {
          this.$emit("dstributionAfterClose")
     },

     closeUserLearnMaterials(id,uid) {
          this.$confirm('确认关闭吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
          }).then(() => {
               alearnApi.close_user_materials({ 'id': id,'lid': this.dstributionAfterQuery.lid ,'uid': uid }).then(response => {
                    if (response.code === 20000) {
                    this.operationMsg('关闭成功！', 'success')
                    this.dstributionAfterSearch()
                    }
               }).catch(() => {})
          }).catch(() => {})
     },

     // 消息提示
     operationMsg(message, type) {
          this.$message({
          showClose: true,
          message: message,
          type: type
          })
     },

     reset() {
          this.querdstributionAfterQueryy = {
          page: 1,
          page_size: 5,
          keywords: ''
          }
     }
  }
}
</script>
<style scoped>
.keywords {
     width: 15em;
}
</style>