<template>
     <div>
          <el-button-group>
               <el-button 
               type="primary" 
               icon="el-icon-edit" 
               @click="preEdit"
               v-permission="'compliance:questionnaire:logicQuestion:edit'"
               >编辑</el-button>
               <el-button 
               type="primary" 
               icon="el-icon-set-up" 
               @click="showLogic"
               v-permission="'compliance:questionnaire:logicQuestion:logic'"
               >逻辑</el-button>
               <el-popconfirm 
               v-if="getPaperStatus == 1" 
               title="你确定要删除该题目？" 
               @confirm="deleteQuestionItem"
               v-permission="'compliance:questionnaire:logicQuestion:delete'"
               >
                    <el-button slot="reference" type="danger" icon="el-icon-delete">删除</el-button>
               </el-popconfirm>
               </el-button-group>
               <template v-if="question.type == 1">
                    <radio-logic 
                    v-bind:question="question"
                    v-bind:open.sync="editRadioLogic"
                    v-if="editRadioLogic"
                    v-on:close="close"
                    v-on:updateLogicSuccess="updateLogicSuccess"
                    ></radio-logic>
                    <radio-edit
                         v-bind:question="question"
                         v-bind:open.sync="editRadio"
                         v-if="editRadio"
                         v-on:saveSuccess="saveSuccess"
                         v-on:deleteOptionSuccess="deleteOptionSuccess"
                         v-on:addOptSuccess="addOptSuccess"
                         v-on:saveOptionSuccess="saveOptionSuccess"
                         v-on:closeEdit="closeEdit"
                    ></radio-edit>
               </template>
               <template v-if="question.type == 2"> 
                    <checkbox-logic 
                    v-bind:question="question" 
                    v-bind:open.sync="editCheckboxLogic"
                    v-if="editCheckboxLogic"
                    v-on:close="close"
                    v-on:updateLogicSuccess="updateLogicSuccess"
                    ></checkbox-logic>
                    <radio-edit
                         v-bind:question="question"
                         v-bind:open.sync="editRadio"
                         v-if="editRadio"
                         v-on:saveSuccess="saveSuccess"
                         v-on:deleteOptionSuccess="deleteOptionSuccess"
                         v-on:addOptSuccess="addOptSuccess"
                         v-on:saveOptionSuccess="saveOptionSuccess"
                         v-on:closeEdit="closeEdit"
                    ></radio-edit>
               </template>
               <template v-if="question.type == 3">
                    <text-logic 
                         v-bind:question="question" 
                         v-bind:open.sync="editTextLogic"
                         v-if="editTextLogic"
                         v-on:updateLogicSuccess="updateLogicSuccess"
                         v-on:close="close"
                    ></text-logic>
                    <text-edit
                         v-bind:question="question"
                         v-bind:open.sync="editText"
                         v-if="editText"
                         v-on:saveSuccess="saveAndClose"
                         v-on:closeEdit="closeEdit"
                    ></text-edit>
               </template>
               
     </div>   
</template>
<script>
import RadioLogic from '@/components/Questionnaire/radioLogic';
import CheckboxLogic from '@/components/Questionnaire/checkboxLogic';
import TextLogic from '@/components/Questionnaire/textLogic';
import RadioEdit from '@/components/Questionnaire/radioEdit';
import {mapGetters, mapActions} from 'vuex';
import TextEdit from './textEdit.vue';

export default {
     name: "LogicEditOperation",
     props: ["question"],
     data: function () {
       return {
          editRadioLogic: false,
          editTextLogic: false,  
          editCheckboxLogic: false, 
          editRadio: false,
          editText: false,  
          editCheckbox: false,  
       };
     },
     components: {RadioLogic, CheckboxLogic, TextLogic, RadioEdit, TextEdit},
     computed: {
          ...mapGetters('questionnaireLogicQuestion', ['getPaperStatus'])
     },
     methods: {
          ...mapActions('questionnaireLogicQuestion', ['deleteQuestion']),
          preEdit() {
             switch (this.question.type) {
                    case 1:
                    case 2:
                         this.$data.editRadio = true;
                         break;
                    case 3:
                         this.$data.editText = true;
                    default:
                         break;
               } 
          },
          showLogic() {
                switch (this.question.type) {
                    case 1:
                         this.$data.editRadioLogic = true;
                         break;
                    case 2:
                         this.$data.editCheckboxLogic = true;
                         break;
                    case 3:
                         this.$data.editTextLogic = true;
                    default:
                         break;
               }
          },
          deleteQuestionItem() {
               this.deleteQuestion(this.question.id)
                    .then(response => {
                         this.notifyOperateSuccess("试题删除成功")
                    })
          },
          close() {
               this.$data.editRadioLogic = false;
               this.$data.editCheckboxLogic = false;
               this.$data.editTextLogic = false;
               return;
          },
          closeEdit() {
               this.$data.editRadio = false;
               this.$data.editCheckbox = false;
               this.$data.editText = false;
               return;
          },
          saveSuccess() {
               this.notifyOperateSuccess("试题名称修改成功")
          },
          saveAndClose() {
               this.notifyOperateSuccess("试题名称修改成功")
               this.closeEdit()
          },
          deleteOptionSuccess() {
               this.notifyOperateSuccess("选项删除成功")
          },
          saveOptionSuccess() {
               console.log("recv saveOptionSuccess")
               this.notifyOperateSuccess("选项编辑成功")
          },
          addOptSuccess() {
               this.notifyOperateSuccess("选项添加成功")
          },
          updateLogicSuccess() {
               this.notifyOperateSuccess("逻辑规则更新成功")
               this.$data.editRadioLogic = false;
               this.$data.editCheckboxLogic = false;
               this.$data.editTextLogic = false;
               return;
          },
          notifyOperateSuccess: function(msg) {
               this.$notify({
               title: '操作成功',
               message: msg,
               type: 'success'
               })
          },
     }
}
</script>