<template>
  <el-dialog
    title="问卷分享信息"
    :visible.sync="open"
    width="40%"
    center
    :before-close="close"
  >
    <div>
      <el-row>
        <el-col :span="20" :offset="1">
          <el-input v-model="uri" :disabled="true" style="text-align:center" />
        </el-col>
        <el-col :span="3"><el-button type="primary" @click="copyIt">复&nbsp;制</el-button></el-col>
        <el-col :span="14" :offset="5">
          <div style="text-align:center;">
            <vue-qr :text="uri" :size="300" />
          </div>
        </el-col>
      </el-row>
    </div>
  </el-dialog>

</template>
<script>
import VueQr from 'vue-qr'
export default {
  name: 'ShowShare',
  components: { VueQr },
  props: ['uri', 'open'],
  methods: {
    close: function() {
      this.$emit('close')
    },
    copyIt: function() {
      const me = this
      this.$copyText(this.uri)
        .then(function(e) {
          me.$notify({
            title: '成功',
            message: '分享链接复制成功',
            type: 'success'
          })
        }, function(e) {
          me.$notify({
            title: '成功',
            message: '分享链接复制成功',
            type: 'success'
          })
        })
    }
  }
}
</script>
