<template>
      <!-- 编辑填空题 -->
      <el-dialog :visible="open" :before-close="close" :center="false" :close-on-click-modal="false" title="填空题">
        <el-form label-position="right" label-width="80px">
          <el-row :gutter="10">
            <el-col :span="18">
              <el-form-item label="题目">
                <el-input v-model="editQuestion.name" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :span="24">
              <el-form-item label-width="0px">
                <el-checkbox v-model="isForce" label="是否必填" ></el-checkbox>
              </el-form-item>
              <el-form-item label-width="0px" v-if="getPaperStatus == 1">
                  <el-button type="primary" @click="addTextareaQuestion">保存</el-button>
              </el-form-item>
              
            </el-col>
          </el-row>
        </el-form>
      </el-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
     name: "TextEdit",
     props: ["question", "open"],
     data: function(){
          return {
               editQuestion: {
                    id: 0,
                    name: '',
                    type: '',
                    options: []
               },
               isForce: false,
          };
          
     },
     mounted: function() {
          this.$data.editQuestion = JSON.parse(JSON.stringify(this.question))
          this.$data.isForce = !(this.question.is_skip)
     },
     methods: {
          ...mapActions('questionnaireLogicQuestion', ['editLogicQuestion']),
          addTextareaQuestion() {
              let edq = this.$data.editQuestion
              edq.is_skip = !(this.$data.isForce)  
               this.editLogicQuestion(edq).then(response => {
                    this.$emit("saveSuccess")
               })
          },
          close() {
               this.$emit("closeEdit")
          }
     },
     computed: {
          ...mapGetters('questionnaireLogicQuestion', ['getPaperStatus', 'getQuestions'])
     },
     watch: {
       getQuestions: {
         handler(newVal, oldVal) {
           const questionId = this.$data.editQuestion.id
           const item = newVal.find(item => {
             return item.id == questionId
           })
           if (item) {
             this.$data.editQuestion = item.origin;
           }
         },
         deep: true
       }
     }
}
</script>