<template>
     <!-- 编辑单选题目 -->
      <el-dialog :visible="open" :before-close="close" :close-on-click-modal="false" :title="typeName">
        <el-form label-position="right" label-width="120px">
          <el-row :gutter="10">
            <el-col :span="18">
                <el-form-item label="题目:">
                  <el-input v-model="add.name"/>
                </el-form-item>
            </el-col>
             <div></div>
          </el-row>
          <el-row :gutter="10">
            <el-col :span="24" v-show="add.options.length > 0">
              <el-form-item label="选项:">
                <el-checkbox-group v-model="selectIds">
                <el-checkbox v-for="(item, index) in add.options" :key="index" :label="index">
                  {{ item.name }}
                </el-checkbox>
              </el-checkbox-group>
              </el-form-item>
              
            </el-col>
            
            <el-col :span="24">
              <el-form-item >
                <el-checkbox v-model="isForce" label="是否必填" ></el-checkbox>
              </el-form-item>
              <el-form-item >
                  <el-button type="primary" @click="addCheckboxOption=true">添加选项</el-button>
                  <el-button type="primary" @click="addNewQuestion">保存</el-button>
              </el-form-item>
            </el-col>
          </el-row>

          <div v-if="addCheckboxOption">
            <div>
              <el-divider>新加</el-divider>
            </div>
            <el-form-item>
              <el-col :span="4">
                <el-checkbox v-model="addOption.is_right" ></el-checkbox>
              </el-col>
              <el-col :span="8">
                <el-input v-model="addOption.name" />
              </el-col>
              <el-col :span="8">
                <el-button type="primary" icon="el-icon-refresh-left" @click="handleAddNewOption">添加</el-button>
                <el-button type="primary" icon="el-icon-refresh-delete" @click="addCheckboxOption = false">取消</el-button>
              </el-col>
            </el-form-item>
          </div>
        </el-form>
      </el-dialog>
</template>
<script>
import {mapGetters, mapActions} from 'vuex';
export default {
     name: "WithOptionAdd",
     props: ["type", "open"],
     data: function() {
          return {
              typeName: "",
              isMulti: false,
              addCheckboxOption: false,
              add: {
                name: '',
                type: 1,
                options: [],
                is_skip: false,
              },
              addOption: {
                name: '',
                is_right: false
              },
              selectIds: [],
              isForce: false,
          }
     },
     mounted: function () {
        this.$data.isMulti = false;
          switch(this.type) {
            case 1:
              this.$data.typeName = "【单选题】"
              break;
            case 2:
              this.$data.typeName = "【多选题】"
              this.$data.isMulti = true
              break;
            default:
              this.$data.typeName = "【-】"
              break;
          }
          this.$data.add.type = this.type
     },
     methods: {
          ...mapActions("questionnaireLogicQuestion", [
               'addOneLogicQuestion'
               ]),
          handleAddNewOption() {
            const addOpt = this.$data.addOption
            this.$data.add.options.push({
              id: 0,
              name: addOpt.name,
              is_right: addOpt.is_right
            })
            const newIndex = this.$data.add.options.length - 1

            if (!addOpt.is_right) {
              return;
            }
            if (this.$data.isMulti) {
              this.$data.selectIds.push(newIndex)
            } else {
              this.$data.selectIds = [newIndex]
            }
            
            if (!this.$data.isMulti) {
              const opts = this.$data.add.options.map((item, index) => {
                console.log(index, newIndex)
                if (index != newIndex) {
                  item.is_right = false;
                }
                return item;
              });
              this.$set(this.$data.add, 'options', opts)
            }
          },
          addNewQuestion() {
            const questionName = this.$data.add.name
            const questionType = this.type
            const options = this.$data.add.options
            const isSkip = !(this.$data.isForce)

            let selectIds = this.$data.selectIds
            //单选只能有一个正确选项
            if (selectIds.length > 0 && (!this.$data.isMulti)) {
              const first = this.$data.selectIds.pop()
              selectIds = [first]
              this.$data.selectIds = selectIds
            }
            
            for (const i in options) {
                options[i].is_right = selectIds.includes(i)
            }
            
            this.addOneLogicQuestion({
              name: questionName,
              type: this.type,
              options: options,
              isSkip: isSkip
            }).then(response => {
             
            })
             this.$emit("addOptionQuestionSuccess")
          },
          close() {
            this.$emit("closeAdd")
          }
     }     
}
</script>

