<template>
  <div class="app-container">
    <el-form :inline="true">
      <el-form-item label="姓名">
        <el-input v-model="listQuery.name" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="listQuery.status" clearable class="filter-item" style="width: 130px">
          <el-option v-for="(value, name) in statusOptions" :key="name" :label="value" :value="name" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-user" @click="handleAdd" v-permission="'system:user:add'">新增用户</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="80" :class-name="listQuery.sortDirection === `asc` ? 'ascending' : 'descending'">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="用户名" align="center">
        <template slot-scope="{row}">
          <span>{{ row.username }}</span>
        </template>
      </el-table-column>
      <el-table-column label="姓名" align="center">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="头像" width="300px" align="center">
        <template slot-scope="{row}">
          <el-avatar v-show="row.avatar !== ''" shape="circle" :size="40" :src="row.avatar" />
        </template>
      </el-table-column>
      <el-table-column label="创建时间" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="介绍" align="center">
        <template slot-scope="{row}">
          <span>{{ row.introduction }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusTagFilter">
            {{ row.status | statusFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="300" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="primary" size="mini" @click="handleUpdate(row)" v-permission="'system:user:edit'">编辑</el-button>
          <el-button v-if="row.status!=3" size="mini" type="danger" @click="handleDelete(row,$index)" v-permission="'system:user:delete'">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="title" :visible.sync="showDialog" width="600px">
      <el-form ref="form" :rules="rules" :model="form" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">
        <el-form-item label="头像" prop="avatar">
          <el-upload
            class="avatar-uploader"
            action="null"
            :show-file-list="false"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="form.avatar" :src="form.avatar" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon" />
          </el-upload>
        </el-form-item>
        <el-form-item label="姓名" prop="name">
          <el-input v-model="form.name" />
        </el-form-item>
        <el-form-item label="用户名" prop="username">
          <el-input v-model="form.username" />
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="form.password" show-password />
        </el-form-item>
        <el-form-item label="状态" prop="status">
          <el-select v-model="form.status" class="filter-item" placeholder="请选择">
            <el-option v-for="(value, name) in statusOptions" :key="name" :label="value" :value="name" />
          </el-select>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="form.roleKeys" filterable multiple placeholder="请选择">
            <el-option
              v-for="item in roleOptions"
              :key="item.key"
              :label="item.name"
              :value="item.key"
              :disabled="item.status == 2"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-permission="'system:user:companys'" label="所属公司">
          <el-select v-model="form.companyId" filterable placeholder="请选择" @focus="getCompanys">
            <el-option
              v-for="item in companys"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="简介">
          <el-input v-model="form.introduction" :autosize="{ minRows: 2, maxRows: 4}" type="textarea" placeholder="个人简介" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="showDialog = false">
          取消
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          确认
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getUsers, getUser, updateUser, createUser, deleteUser, avatarUpload, getCompanys } from '@/api/system/user'
import { getRoles } from '@/api/system/role'
import Pagination from '@/components/Pagination'

const statusOptions = ['未知', '正常', '禁用', '已删除']
const statusTagMap = ['warning', '', 'info', 'danger']

const defaultUser = {
  id: undefined,
  avatar: '',
  introduction: '',
  username: '',
  password: '',
  name: '',
  roleKeys: [],
  companyId: 0,
  status: 0
}

export default {
  name: 'Users',
  components: { Pagination },
  filters: {
    statusFilter(status) {
      return statusOptions[status]
    },
    statusTagFilter(status) {
      return statusTagMap[status]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        name: undefined,
        status: undefined,
        sortFiled: 'id',
        sortDirection: 'desc'
      },
      statusOptions,
      // 角色选项
      roleOptions: [],
      // 公司
      companys: [],
      form: Object.assign({}, defaultUser),
      showDialog: false,
      dialogStatus: '',
      // 弹框标题
      title: '',
      rules: {
        name: [{ required: true, message: '姓名不能为空', trigger: 'blur' }],
        username: [{ required: true, message: '用户名不能为空', trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      getUsers(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },
    getRoles() {
      getRoles({ page: 1, limit: 1000 }).then(res => {
        this.roleOptions = res.data.items
      })
    },
    getCompanys() {
      getCompanys().then(res => {
        this.companys = res.data
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sortDirection = 'asc'
      } else {
        this.listQuery.sortDirection = 'desc'
      }
      this.handleFilter()
    },
    reset() {
      this.form = Object.assign({}, defaultUser)
      this.resetForm('form')
    },
    handleAdd() {
      this.reset()
      this.dialogStatus = 'create'
      this.showDialog = true
      this.getRoles()
    },
    createData() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          createUser(this.form).then(res => {
            this.form.id = res.data
            this.list.unshift(this.form)
            this.showDialog = false
            this.msgSuccess('创建成功')
          })
        }
      })
    },
    handleUpdate(row) {
      this.reset()
      getUser(row.id).then(res => {
        this.form = res.data
        this.dialogStatus = 'update'
        this.showDialog = true
        this.getRoles()
      })
    },
    updateData() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          const formData = Object.assign({}, this.form)
          updateUser(formData.id, formData).then(() => {
            const index = this.list.findIndex(v => v.id === this.form.id)
            this.list.splice(index, 1, this.form)
            this.showDialog = false
            this.msgSuccess('更新成功')
          })
        }
      })
    },
    handleDelete(row, index) {
      deleteUser(row.id).then(res => {
        const index = this.list.findIndex(v => v.id === row.id)
        row.status = res.data
        this.list.splice(index, 1, row)
        this.msgSuccess('删除成功')
      })
    },
    beforeAvatarUpload(file) {
      const isGt4M = file.size / 1024 / 1024 > 4

      if (isGt4M) {
        this.$message.error('上传头像图片大小不能超过 4MB!')
        return false
      }
      var fd = new FormData()
      fd.append('file', file)

      avatarUpload(fd).then(res => {
        this.form.avatar = res.data.url
        this.msgSuccess('头像上传成功')
      })

      return false
    }
  }
}
</script>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .avatar {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
  }
</style>
