<template>
  <el-upload
    class="upload-demo"
    :action="uploadAction"
    :data="uploadData"
    :before-upload="beforeUpload"
    :on-exceed="handleExceed"
    :on-error="uploadError"
    :on-success="uploadSuccess"
    :before-remove="beforeRemove"
    :on-remove="handleRemove"
    :show-file-list="showList"
    :file-list="picList"
    list-type=""
    :limit="limit"
    :sign="sign"
    :picUrl="picUrl"
    :bucket="bucket"
    :disabled="abled"
  >
    <div class="upbutton">
      <el-button size="small" type="primary">{{ button }}</el-button>
      <!-- <div slot="tip" class="el-upload__tip">{{text}}</div> -->
    </div>
  </el-upload>
</template>

<script>

export default {
  name: 'PackUpload',
  props: {
    showList: {
      type: Boolean,
      default: true
    },
    picList: {},
    sign: {
      type: String,
      default: ''
    },
    uploadData: {
      token: '',
      key: ''
    },
    picUrl: {
      type: String,
      default: ''
    },
    bucket: {
      type: String,
      default: ''
    },
    abled: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 1
    },
    // text: {
    //   type: String,
    //   default: '只能上传jpg/png文件'
    // },
    button: {
      type: String,
      default: '点击上传'
    }
  },
  data() {
    return {
      uploadAction: 'https://upload.qiniup.com'
    }
  },
  methods: {
    handleExceed(files, fileList) {
      this.$message.warning(
        '当前限制选择 1 份，如需更换，请删除上一份再重新选择！'
      )
    },

    beforeUpload(file) {
      const pack_name = file.name.match(/\.apk$/)
      if (!pack_name) {
        this.$message.error('请上传正确的Android安装包!')
        return false
      }
      this.uploadData.key = file.name
    },

    uploadError(err, file, fileList) {
      console.log(err)
      this.$message({
        message: '上传出错，请刷新页面！',
        type: 'error',
        center: true
      })
    },

    uploadSuccess(response) {
      var packUrl = [{
        name: this.picUrl + '/' + response.key,
        url: this.picUrl + '/' + response.key
      }]
      this.$emit('setImg', { packUrl: packUrl, sign: this.sign })
    },

    beforeRemove(file, fileList) {},

    handleRemove(file, fileList) {}
  }
}
</script>
