<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="17">
          <el-form-item label="审核状态">
            <el-select
              v-model="query.state"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in stateList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="17">
          <el-form-item label="展示状态">
            <el-select
              v-model="query.show"
              placeholder="默认全部"
            >
              <el-option
                v-for="item in showList"
                :key="item.id"
                :label="item.value"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="1">
          <el-button size="mini" type="primary" @click="search">搜索</el-button>
          <el-button size="mini" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button type="primary" size="mini" style="margin-left: 20px;" @click="exportVideo">导出</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-button size="mini" @click="calcelSelect">取消全选</el-button>
    <el-button size="mini" type="primary" @click="showNoteDialog">批量修改</el-button>
    <el-table
      ref="checkTable"
      v-loading="loading"
      :data="list"
      :row-key="handleReserve"
      stripe
      border
      style="width: 100%;margin-top: 10px;"
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" fixed="left" type="selection" width="55" reserve-selection />
      <el-table-column prop="title" label="标题" align="center" />
      <el-table-column prop="doctor_nid" label="医生ID" align="center" />
      <el-table-column prop="doctor_username" label="医生姓名" align="center" />
      <el-table-column prop="hospital" label="医院" align="center" />
      <el-table-column prop="depart" label="科室" align="center" />
      <el-table-column prop="agent" label="所属代表" align="center" />
      <el-table-column prop="area" label="代表所属大区" align="center" />
      <el-table-column prop="province" label="代表所属省份" align="center" />
      <el-table-column prop="url" label="视频链接" align="center">
        <template slot-scope="{row}">
          <el-popover
            placement="top-start"
            title=""
            width="200"
            trigger="hover"
            :content="row.url">
            <a @click="showVideo(row.url)" style="color: #1890ff;">{{ row.url }}</a>
            <el-button slot="reference">链接</el-button>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="上传时间" align="center" />
      <el-table-column prop="updated_at" label="最近操作时间" align="center" />
      <el-table-column prop="state" label="状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.state==1">待审核</template>
          <template v-if="row.state==2">已通过</template>
          <template v-if="row.state==3">
            <el-popover
              placement="top-start"
              trigger="hover"
              :content="row.reason">
              <el-link type="text" slot="reference" style="color: rgb(24, 144, 255)">已拒绝</el-link>
            </el-popover>
          </template>
        </template>
      </el-table-column>
      <el-table-column
        header-align="center"
        align="center"
        label="是否上架">
        <template slot-scope="{row}">
          <el-switch
            v-if="row.state==2"
            v-model="row.is_show"
            :active-value="active"
            :inactive-value="inactive"
            @change="changeStatus($event, row.id)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="tags" label="视频标签" align="center">
        <template slot-scope="{row}">
          <el-tag v-for="(one,index) in row.tags" size="mini" effect="dark">{{ one }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="{row}">
          <el-button type="text" size="mini" v-if="row.state==1" @click="aduitVideo(row.id, 2)">通过</el-button>
          <el-button type="text" size="mini" v-if="row.state==1" @click="aduitVideo(row.id, 3)">拒绝</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog :visible.sync="passVisible" :before-close="close" width="40%">
      <el-form ref="passData" label-position="left" :model="passData" label-width="100px" class="demo-ruleForm">
        <el-form-item
          label="标签"
          prop="tags"
          :rules="[
            { required: true, message: '请选择标签', trigger: 'change' }
          ]"
        >
          <el-select
            v-model="passData.tags"
            style="width: 100%;"
            multiple
            clearable>
            <el-option
              v-for="item in tagsList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-row class="contentButton">
          <el-button type="primary" @click="pass('passData')">提交</el-button>
          <el-button @click="passVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog :visible.sync="refuseVisible" :before-close="close" width="40%">
      <el-form ref="refuseData" label-position="left" :model="refuseData" label-width="100px" class="demo-ruleForm">
        <el-form-item
          label="拒绝理由"
          prop="reason"
          :rules="[
            { required: true, message: '请输入拒绝理由', trigger: 'blur' }
          ]"
        >
          <el-input v-model="refuseData.reason" type="textarea" :rows="2"></el-input>
        </el-form-item>
        <el-row class="contentButton">
          <el-button type="primary" @click="refuse('refuseData')">提交</el-button>
          <el-button @click="refuseVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog width="40%" title="状态修改" :visible.sync="noteDialog" append-to-body>
      <el-form label-position="right" label-width="80px" class="demo-ruleForm">
        <el-form-item label="状态选择">
          <el-switch
            v-model="show_eff"
            active-text="上架"
            inactive-text="下架"
          />
        </el-form-item>
        <el-form-item style="margin-top: 20px;">
          <el-button type="primary" @click="updateEff">修改</el-button>
          <el-button @click="noteDialog=false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog :visible.sync="videoVisible" :before-close="close" width="60%">
      <vue-core-video-player :src="videoUrl" ref="videoPlayer"></vue-core-video-player>
    </el-dialog>
  </div>
</template>

<script>
import * as videoApi from '@/api/video/video'
import Pagination from '@/components/Pagination'

export default {
  name: 'VideoUpload',
  components: { Pagination },
  data() {
    return {
      stateList: [
        { id: 1, value: '待审核' },
        { id: 2, value: '已通过' },
        { id: 3, value: '已拒绝' }
      ],
      showList: [
        { id: 1, value: '已上架' },
        { id: 2, value: '已下架' }
      ],
      active: 1,
      inactive: 2,
      query: {
        state: '',
        show: '',
        page: 1,
        page_size: 20
      },
      loading: false,
      list: [],
      total: 0,
      passVisible: false,
      refuseVisible: false,
      tagsList: [],
      passData: {
        id: '',
        pass: 2,
        tags: []
      },
      refuseData: {
        id: '',
        pass: 3,
        reason: ''
      },
      videoVisible: false,
      videoUrl: '',
      noteDialog: false,
      show_eff: false,
      checkedIds: []
    }
  },
  created() {
    this.search()
  },
  methods: {
    search() {
      this.loading = true
      videoApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    handleReserve(row) {
      return row.id
    },

    handleSelectionChange(val) {
      var ids = []
      for (var i = 0; i < val.length; i++) {
        ids.push(val[i].id)
      }
      this.checkedIds = ids
      console.log(this.checkedIds)
    },

    calcelSelect() {
      this.$refs.checkTable.clearSelection()
    },

    showNoteDialog() {
      if (this.checkedIds.length>0) {
        this.noteDialog = true
      }
    },

    updateEff() {
      videoApi.changeShow({ id: this.checkedIds, show: this.show_eff }).then(resp => {
        this.operationMsg("状态变更成功")
        this.noteDialog = false
        this.$refs.checkTable.clearSelection()
        this.search()
      })
    },

    aduitVideo(id, pass) {
      this.passData = {
        id: '',
        pass: 2,
        tags: []
      }
      this.refuseData = {
        id: '',
        pass: 3,
        reason: ''
      }
      if (pass==2) {
        this.passData.id = id
        videoApi.allTags().then(response => {
          this.tagsList = response.data
        }).catch(() => {})
        this.passVisible = true
        this.refuseVisible = false
      } else {
        this.refuseData.id = id
        this.passVisible = false
        this.refuseVisible = true
      }
    },

    pass(formName) {
      this.$refs[formName].validate((valid) => {
         if (valid) {
           videoApi.auditVideo(this.passData).then(response => {
              if (response.code === 20000) {
                this.operationMsg('已通过', 'success')
                this.search()
                this.close()
              }
           }).catch(() => {})
         }
       })
    },

    refuse(formName) {
      this.$refs[formName].validate((valid) => {
         if (valid) {
           videoApi.auditVideo(this.refuseData).then(response => {
              if (response.code === 20000) {
                this.operationMsg('已拒绝', 'success')
                this.search()
                this.close()
              }
           }).catch(() => {})
         }
       })
    },

    exportVideo() {
      videoApi.exportVideo(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch()
    },

    queryReset() {
      this.query = {
        state: '',
        show: '',
        page: 1,
        page_size: 20
      }
    },

    changeStatus($event, id) {
      videoApi.changeShow({ id: [id], show: $event }).then(resp => {
        this.operationMsg("状态变更成功")
      })
    },

    showVideo(url) {
      this.videoUrl = url
      this.videoVisible = true
      this.$refs.videoPlayer.play()
    },

    close() {
      this.passVisible = false
      this.refuseVisible = false
      this.videoVisible = false
      this.$refs.videoPlayer.pause()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
