<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">

    </el-form>

    <div style="margin-bottom: -20px">
      <el-button type="primary" @click="showDiolog">新增</el-button>
      <el-button type="primary" size="mini" @click="exportVideo()">导出</el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="title" label="标题" align="center" />
      <el-table-column prop="doctor_nid" label="医生ID" align="center" />
      <el-table-column prop="doctor_username" label="医生姓名" align="center" />
      <el-table-column prop="hospital" label="医院" align="center" />
      <el-table-column prop="depart" label="科室" align="center" />
      <el-table-column prop="agent" label="所属代表" align="center" />
      <el-table-column prop="area" label="代表所属大区" align="center" />
      <el-table-column prop="province" label="代表所属省份" align="center" />
      <el-table-column prop="url" label="视频链接" align="center">
        <template slot-scope="{row}">
          <el-popover
            placement="top-start"
            title=""
            width="200"
            trigger="hover"
            :content="row.url">
            <a @click="showVideo(row.url)" style="color: #1890ff;">{{ row.url }}</a>
            <el-button slot="reference">链接</el-button>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="上传时间" align="center" />
      <el-table-column prop="state" label="状态" align="center">
        <template slot-scope="{row}">
          <template v-if="row.state==1">待审核</template>
          <template v-if="row.state==2">已通过</template>
          <template v-if="row.state==3">
            <el-popover
              placement="top-start"
              trigger="hover"
              :content="row.reason">
              <el-link type="text" slot="reference" style="color: rgb(24, 144, 255)">已拒绝</el-link>
            </el-popover>
          </template>
        </template>
      </el-table-column>
      <el-table-column prop="tags" label="视频标签" align="center">
        <template slot-scope="{row}">
          <el-tag v-for="(one,index) in row.tags" size="mini" effect="dark">{{ one }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="{row}" v-if="row.state==1">
          <el-button type="text" size="mini" @click="updateVideo(row.id)">编辑</el-button>
          <el-popconfirm
            title="确定要删除吗？"
            confirm-button-text="确定"
            cancel-button-text="取消"
            @confirm="deleteVideo(row.id)"
            style="margin-left: 10px;"
          >
            <el-button type="text" slot="reference" v-if="row.state==1" size="mini">删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-form-item
          label="标题"
          prop="title"
          :rules="[
            { required: true, message: '请输入标题', trigger: 'blur' }
          ]"
        >
          <el-input v-model="formData.title" class="short"></el-input>
        </el-form-item>
        <el-form-item
         label="医生姓名:"
         prop="doctor_id"
         :rules="[
           { required: true, message: '请搜索医生姓名', trigger: 'change' }
         ]"
        >
          <el-select
            v-model="formData.doctor_id"
            filterable
            clearable
            remote
            placeholder="请搜索医生名称"
            :remote-method="searchDoctor"
            style="width: 100%;"
            >
            <el-option
            v-for="item in YYAgents"
            :key="item.aid"
            :label="item.truename"
            :value="item.aid">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item
          label="上传视频"
          prop="url"
          :rules="[
            { required: true, message: '请上传视频', trigger: 'change' }
          ]"
        >
          <upload-file
              :type="upload.type"
              :business="upload.business"
              :uploadList.sync="formData.url"
              :showList="true"
              :limit="1"
              listType="text"
              @uploadFail="uploadCoverFail"
              @uploadSuccess="uploadCoverSuccess"
              @deleteFile="deleteCover"
          >
          </upload-file>
        </el-form-item>

        <el-row class="contentButton">
          <el-button type="primary" @click="submit('formData')">提交</el-button>
          <el-button @click="dialogVisible=false">取消</el-button>
        </el-row>
      </el-form>
    </el-dialog>

    <el-dialog :visible.sync="videoVisible" :before-close="close" width="60%">
      <vue-core-video-player :src="videoUrl" ref="videoPlayer"></vue-core-video-player>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { searchDoctor } from '@/api/admin/doctor';
import * as videoApi from '@/api/video/video'
import Pagination from '@/components/Pagination'
import UploadFile from '@/components/Upload'

export default {
  name: 'VideoUpload',
  components: { Pagination, UploadFile },
  data() {
    return {
      YYAgents: [],
      upload: {
          type: 1,
          business: 'ykhvideo'
      },
      query: {
        page: 1,
        page_size: 20
      },
      loading: false,
      list: [],
      total: 0,
      dialogVisible: false,
      formData: {
        id: 0,
        title: '',
        doctor_id: '',
        url: []
      },
      videoVisible: false,
      videoUrl: ''
    }
  },
  created() {
    this.search()
  },
  computed: {
      ...mapGetters([
        'name',
        'yy_da_id',
        'role_id'
      ])
    },
  methods: {
    search() {
      this.loading = true
      videoApi.list(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    showDiolog() {
      this.formData = {
        id: 0,
        title: '',
        doctor_id: '',
        url: []
      }
      this.searchDoctor()
      this.dialogVisible = true
    },

    searchDoctor(cb) {
      if (cb!='') {
        searchDoctor({'username': cb, 'role': this.role_id}).then(resp => {
           this.YYAgents = resp.data
        })
      } else {
        this.YYAgents = []
      }
     },

     submit(formName) {
       this.$refs[formName].validate((valid) => {
         if (valid) {
           videoApi.update(this.formData).then(response => {
              if (response.code === 20000) {
                this.operationMsg('提交成功！', 'success')
                this.search()
                this.close()
              }
           }).catch(() => {})
         }
       })
     },

     updateVideo(id) {
       videoApi.detail({ id: id }).then(response => {
         this.formData = response.data.list
         this.YYAgents = response.data.doctor
         this.dialogVisible = true
       }).catch(() => {})
     },

     deleteVideo(id) {
      var that = this
      var query = { id: id }
      videoApi.deleteVideo(query).then(response => {
        that.operationMsg('已删除', 'success')
        that.search()
      }).catch(() => {})
     },

     exportVideo() {
       videoApi.exportVideo().then(response => {
         if (response.code === 20000) {
           this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
         }
       }).catch()
     },

    queryReset() {
      this.query = {
        page: 1,
        page_size: 20
      }
    },

    uploadCoverFail(err) {
        console.log(err)
    },

    uploadCoverSuccess(data) {
      console.log(data)
    },

    deleteCover(data) {
      this.formData.url = []
    },

    showVideo(url) {
      this.videoUrl = url
      this.videoVisible = true
      this.$refs.videoPlayer.play()
    },

    close() {
      this.dialogVisible = false
      this.videoVisible = false
      this.$refs.videoPlayer.pause()
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
