<template>
    <el-row :gutter="10">
        <el-col :span="22" :offset="1" style="margin-top:20px" class="query">
               <!-- 头部搜索  -->
               <el-form ref="form" inline label-width="120px">
                 <el-row :gutter="24">
                    <el-form-item label="账号:">
                         <el-input v-model="query.username" placeholder="账号"></el-input>
                    </el-form-item>

                    <el-form-item label="姓名:">
                         <el-input v-model="query.agentname" placeholder="姓名"></el-input>
                    </el-form-item>

                    <el-form-item>
                         <el-button
                         type="primary"
                         @click="search()"
                         >搜索</el-button>
                    </el-form-item>
                    <el-button type="primary" class="newbutton" @click="showDiolog" v-if="role_id!=3">添加</el-button>
                    <el-button type="primary" class="newbutton" @click="infoExport">导出</el-button>
                  </el-row>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1">
            <!-- 中间列表 -->
               <el-table
                    v-loading="loading"
                    header-row-class-name="uhead"
                    :data="AgentList"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="username"
                         label="账号"/>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="truename"
                         label="关联代表姓名"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="area"
                         label="大区"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="province"
                         label="省份"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="city"
                         label="城市"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="position"
                         label="岗位">
                      <template slot-scope="{row}">
                        <template v-if="row.position==0"></template>
                        <template v-if="row.position==1">大区销售经理</template>
                        <template v-if="row.position==2">大区销售助理</template>
                        <template v-if="row.position==3">大区销售总监</template>
                        <template v-if="row.position==4">地区销售经理</template>
                        <template v-if="row.position==5">高级产品经理</template>
                        <template v-if="row.position==6">高级地区销售经理</template>
                        <template v-if="row.position==7">高级区域推广经理</template>
                        <template v-if="row.position==8">高级医学顾问</template>
                        <template v-if="row.position==9">高级资深医学顾问</template>
                        <template v-if="row.position==10">区域推广经理</template>
                        <template v-if="row.position==11">市场经理</template>
                        <template v-if="row.position==12">市场助理</template>
                        <template v-if="row.position==13">销售助理</template>
                        <template v-if="row.position==14">医学顾问</template>
                        <template v-if="row.position==15">资深医学顾问</template>
                      </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="created_at"
                         label="创建时间" />
                   <el-table-column
                        v-if="role_id!=3"
                        header-align="center"
                        align="center"
                        label="状态">
                        <template slot-scope="scope">
                             <el-switch
                                  v-model="scope.row.status"
                                  :active-value="active"
                                  :inactive-value="inactive"
                                  @change="changeStatus($event, scope.row.id)">
                             </el-switch>
                        </template>
                   </el-table-column>
                    <el-table-column
                        v-if="role_id!=3"
                         header-align="center"
                         align="center"
                         width="280px"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-button
                                   type="primary"
                                   size="mini"
                                   @click="detail(scope.row.id)"
                                   >编辑</el-button>

                                   <el-button
                                   type="danger"
                                   size="mini"
                                   @click="PWDDiolog(scope.row.id, scope.row.password)"
                                   >修改密码</el-button>

                                   <el-button
                                   type="danger"
                                   size="mini"
                                   @click="pwdSync(scope.row.id)"
                                   >同步密码</el-button>

                         </template>
                    </el-table-column>
                    <el-table-column
                        v-if="role_id==3"
                         header-align="center"
                         align="center"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-button
                                   type="primary"
                                   size="mini"
                                   @click="detail(scope.row.id)"
                                   >查看</el-button>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>

          <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />


          <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
               <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm" :disabled="role_id==3">

                <el-form-item
                  label="身份"
                  prop="role"
                  :rules="[
                    { required: true, message: '请选择身份', trigger: 'change' }
                  ]"
                >
                  <el-select v-model="formData.role" style="width: 100%;">
                    <el-option
                      v-for="item in roleList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>

               <el-form-item
                label="代表姓名:"
                prop="aid"
                :rules="[
                  { required: true, message: '请搜索代表姓名', trigger: 'change' }
                ]"
              >
                    <el-select
                         v-model="formData.aid"
                         filterable
                         clearable
                         remote
                         placeholder="请输入姓名或手机号搜索代表"
                         :remote-method="searchAgent"
                         style="width: 100%;"
                         >
                         <el-option
                         v-for="item in YYAgents"
                         :key="item.aid"
                         :label="item.label"
                         :value="item.aid">
                         </el-option>
                    </el-select>
               </el-form-item>

               <el-form-item
                label="帐号"
                prop="account"
                :rules="[
                  { required: true, message: '请填写账号', trigger: 'blur' },
                  { required: true, pattern: /^[A-Za-z][A-Za-z0-9]{2,18}$/, message: '请填写正确的账号格式-字母+数字组合,必须以字母开头', trigger: 'blur' }
                ]"
               >
                    <el-input v-model="formData.account" class="short"></el-input>
               </el-form-item>

               <el-form-item
                label="密码"
                prop="password"
                :rules="[
                  { required: true, message: '请填写密码', trigger: 'blur' }
                ]"
               >
                    <el-input v-model="formData.password" type="password" :disabled="PWDDisabled" class="short"></el-input>
               </el-form-item>

               <el-form-item label="联系方式">
                    <el-input v-model="formData.mobile" class="short"></el-input>
               </el-form-item>

               <el-form-item
                label="个人邮箱"
                prop="mail"
                :rules="[
                  { required: false, pattern: /^[.a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$/, message: '请填写正确的邮箱格式', trigger: 'blur' }
                ]"
                >
                    <el-input v-model="formData.mail" class="short"></el-input>
               </el-form-item>

               <el-form-item
                 v-if="formData.role==1"
                 label="大区"
                 prop="area"
                 :rules="[
                   { required: true, message: '请选择大区', trigger: 'change' }
                 ]"
               >
                 <el-select
                  multiple
                  clearable
                  v-model="formData.area"
                  style="width: 100%;">
                   <el-option
                     v-for="item in areaList"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id">
                   </el-option>
                 </el-select>
               </el-form-item>

               <el-form-item
                 v-if="formData.role==1"
                 label="省份"
                 prop="province"
                 :rules="[
                   { required: true, message: '请选择省份', trigger: 'change' }
                 ]"
               >
                 <el-select v-model="formData.province" style="width: 100%;">
                   <el-option
                     v-for="item in provinceList"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id">
                   </el-option>
                 </el-select>
               </el-form-item>

               <el-form-item
                 v-if="formData.role==1"
                 label="城市"
                 prop="city"
                 :rules="[
                   { required: true, message: '请选择城市', trigger: 'change' }
                 ]"
               >
                 <el-select v-model="formData.city" style="width: 100%;">
                   <el-option
                     v-for="item in cityList"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id">
                   </el-option>
                 </el-select>
               </el-form-item>

               <el-form-item
                 v-if="formData.role==1"
                 label="岗位"
                 prop="position"
                 :rules="[
                   { required: true, message: '请选择岗位', trigger: 'change' }
                 ]"
               >
                 <el-select v-model="formData.position" style="width: 100%;">
                   <el-option
                     v-for="item in positionList"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id">
                   </el-option>
                 </el-select>
               </el-form-item>

              <el-form-item
                label=""
                prop="syncAdmin"
              >
                <el-checkbox v-model="formData.syncAdmin">同步账号到视频管理系统<span style="color: red;">（同步功能仅在新增用户的时候生效）</span></el-checkbox>
              </el-form-item>

               <el-row class="contentButton">
                    <el-button type="primary" @click="submit('formData')">提交</el-button>
                    <el-button @click="dialogVisible=false">取消</el-button>
               </el-row>
          </el-form>
     </el-dialog>

          <el-dialog title="修改密码" :visible.sync="PWDdialogVisible" :before-close="PWDclose" width="80%">
               <el-form ref="PWDformData" label-position="right" :model="PWDformData" label-width="120px" class="demo-ruleForm-pwd">

               <el-form-item label="密码" required>
                    <el-input v-model="PWDformData.password" type="password" class="short"></el-input>
               </el-form-item>
               <el-row class="contentButton">
                    <el-button type="primary" @click="UpPWD">提交</el-button>
                    <el-button @click="PWDdialogVisible=false">取消</el-button>
               </el-row>
          </el-form>
     </el-dialog>
    </el-row>
</template>

<script>
import { mapGetters } from 'vuex'
import { syncPwd } from '@/api/admin/admin';
import { area, province, city, searchAgent, list, update, detail, updateStatus, updatePWD, infoExport } from '@/api/admin/agent';
import Pagination from '@/components/Pagination'
export default {
     components: { Pagination },
  data() {
      return {
          loading: false,
          formData: {
               id: '',
               company_id: 0,
               mobile: '',
               mail: '',
               username: '',
               old_aid: '',
               aid: '',
               password: '',
               account: '',
               province: '',
               area: [],
               city: '',
               position: '',
               role: 1,
               v_type: 8,
               syncAdmin: false
          },
          PWDformData: {
               id: '',
               password: ''
          },
          query: {
               username: '',
               agentname: '',
               page: 1,
               page_size: 20,
          },
          active: 1,
          inactive: 2,
          total: 0,
          dialogVisible: false,
          PWDdialogVisible: false,
          PWDDisabled: false,
          AgentList: [],
          YYAgents: [],

          areaList: [],
          provinceList: [],
          cityList: [],
          positionList: [
            { id: 1, name: '大区销售经理' },
            { id: 2, name: '大区销售助理' },
            { id: 3, name: '大区销售总监' },
            { id: 4, name: '地区销售经理' },
            { id: 5, name: '高级产品经理' },
            { id: 6, name: '高级地区销售经理' },
            { id: 7, name: '高级区域推广经理' },
            { id: 8, name: '高级医学顾问' },
            { id: 9, name: '高级资深医学顾问' },
            { id: 10, name: '区域推广经理' },
            { id: 11, name: '市场经理' },
            { id: 12, name: '市场助理' },
            { id: 13, name: '销售助理' },
            { id: 14, name: '医学顾问' },
            { id: 15, name: '资深医学顾问' },
          ],
          roleList: [
            { id: 1, name: '力蜚能' },
            { id: 2, name: '英联' }
          ]
      }
  },
  watch: {
    'formData.area'(newVal, oldVal) {
      if (newVal!=undefined) {
        province({ area_id: newVal }).then(response => {
          if (response.code === 20000) {
            this.provinceList = response.data
          }
        }).catch(() => {})
      }
    },
    'formData.province'(newVal, oldVal) {
      if (newVal!=undefined) {
        city({ pro_id: newVal }).then(response => {
          if (response.code === 20000) {
            this.cityList = response.data
          }
        }).catch(() => {})
      }
    },
  },
  mounted() {
    this.search()
  },
  computed: {
    ...mapGetters([
      'name',
      'yy_da_id',
      'role_id'
    ])
  },
  methods: {
    getArea() {
      area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

     search() {
        this.$data.loading = true
        list(this.query).then(resp => {
             this.loading = false
              this.AgentList = resp.data.list
              this.total = resp.data.total
          }).catch((reason) => {
             this.$data.loading = false
          })
      },

      detail(id) {
        this.getArea()
          detail(id).then(response => {
          if (response.code === 20000) {
            this.formData = response.data
            this.PWDformData.id = response.data.id
            this.PWDformData.password = response.data.password
            this.PWDDisabled = true
            this.dialogVisible = true
          }
        }).catch(() => {})
      },

      submit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            update(this.formData).then(response => {
                 if (response.code === 20000) {
                      this.operationMsg('提交成功！', 'success')
                      this.close()
                      this.search()
                 }
            }).catch(() => {})
          }
        })
     },

     changeStatus($event, id) {
          updateStatus(id, $event)
          .then(resp => {
               this.operationMsg("发布状态变更成功")
          })
     },

     UpPWD(id) {
      updatePWD(this.PWDformData.id,this.PWDformData.password).then(response => {
         if (response.code === 20000) {
           this.PWDclose()
           this.operationMsg('修改成功！', 'success')
           this.search()
         }
       }).catch(() => {})
    },

    infoExport() {
      infoExport(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch()
    },

     // 远程获取代表
     searchAgent(cb) {
       if (cb!='') {
         searchAgent({"username": cb})
            .then(resp => {
                 this.YYAgents = resp.data
            })
       } else {
         this.YYAgents = []
       }
      },
       //消息提示
    operationMsg(message,type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      });
    },

    close() {
      this.PWDDisabled = false
      this.dialogVisible = false
    },

    PWDclose() {
     this.PWDformData.password = ''
      this.PWDdialogVisible = false
    },

    showDiolog() {
          this.formData = {
            id: '',
            company_id: 0,
            mobile: '',
            mail: '',
            username: '',
            old_aid: '',
            aid: '',
            password: '',
            account: '',
            province: '',
            area: [],
            city: '',
            position: '',
            role: 1,
            v_type: 8,
            syncAdmin: false
          }
          this.getArea()
          this.PWDDisabled = false
          this.dialogVisible = true
     },


     PWDDiolog(id ,pwd) {
          this.PWDformData.id = id
          this.PWDformData.password = pwd
          this.PWDdialogVisible = true
     },
     
     pwdSync(id) {
       this.$confirm('确认要同步密码到视频管理系统吗?', '提示', {
         confirmButtonText: '确定',
         cancelButtonText: '取消',
         type: 'warning'
       }).then(() => {
         var query = { id: id }
         syncPwd(query).then(response => {
           if (response.code == 20000) {
             this.operationMsg('同步成功！', 'success')
           }
         }).catch(() => {})
       }).catch(() => {})
     }
     
  }

}
</script>
<style scoped>
.serveCompanyTitle {
     font-size: 13px;
     margin-right:1em;
     color: #4c4c4c;
     }
.page {
     margin-top: 10px;
}

tr.uhead {
     font-size: 1.2em;
}
</style>
