<template>
  <el-row :gutter="10">
      <el-col :span="22" :offset="1" style="margin-top:20px" class="query">
             <!-- 头部搜索  -->
             <el-form ref="form" inline label-width="120px">
                  <el-form-item label="医生ID:">
                       <el-input v-model="query.doctorId" placeholder="医生ID"></el-input>
                  </el-form-item>
                  <el-form-item label="医生姓名:">
                       <el-input v-model="query.doctorName" placeholder="医生姓名"></el-input>
                  </el-form-item>
                  <el-form-item>
                       <el-button
                       type="primary"
                       @click="search()"
                       >搜索</el-button>
                  </el-form-item>
                  <el-button type="primary" class="newbutton" @click="showDiolog" v-if="role_id!=3">添加</el-button>
                  <el-button type="primary" class="newbutton" @click="infoExport">导出</el-button>

             </el-form>
        </el-col>
        <el-col :span="22" :offset="1" style="margin-top:20px">
          <!-- 中间列表 -->
             <el-table
                  v-loading="loading"
                  header-row-class-name="uhead"
                  :data="AgentList"
                  border
                  stripe
                  style="width: 100%">
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="username"
                       label="账号"/>
                  </el-table-column>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="yy_da_id"
                       label="医生ID"/>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="hospital_name"
                       label="医院"/>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="depart_name"
                       label="科室"/>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="agent"
                       label="对应代表"/>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="agent_area"
                       label="代表所属大区"/>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="agent_province"
                       label="代表所属省份"/>
                  <el-table-column
                       header-align="center"
                       align="center"
                       prop="created_at"
                       label="创建时间" />
                 <el-table-column
                      v-if="role_id!=3&&role_id!=4"
                      header-align="center"
                      align="center"
                      label="状态">
                      <template slot-scope="scope">
                           <el-switch
                                v-model="scope.row.status"
                                :active-value="active"
                                :inactive-value="inactive"
                                @change="changeStatus($event, scope.row.id)">
                           </el-switch>
                      </template>
                 </el-table-column>
                  <el-table-column
                        v-if="role_id!=3"
                       header-align="center"
                       align="center"
                       width="250px"
                       label="操作" >
                       <template slot-scope="scope">
                            <el-button
                                 type="primary"
                                 size="mini"
                                 @click="detail(scope.row.id)"
                                 >编辑</el-button>

                                 <el-button
                                 type="danger"
                                 size="mini"
                                 @click="PWDDiolog(scope.row.id, scope.row.password)"
                                 >修改密码</el-button>

                       </template>
                  </el-table-column>
                  <el-table-column
                        v-if="role_id==3"
                       header-align="center"
                       align="center"
                       label="操作" >
                       <template slot-scope="scope">
                            <el-button
                                 type="primary"
                                 size="mini"
                                 @click="detail(scope.row.id)"
                                 >查看</el-button>
                       </template>
                  </el-table-column>
             </el-table>
        </el-col>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />


        <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
             <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm" :disabled="role_id==3">

             <el-form-item
              label="医生姓名:"
              prop="aid"
              :rules="[
                { required: true, message: '请搜索医生姓名', trigger: 'change' }
              ]"
             >
                  <el-select
                       v-model="formData.aid"
                       filterable
                       clearable
                       remote
                       placeholder="请搜索医生名称"
                       :remote-method="searchDoctor"
                       style="width: 100%;"
                       >
                       <el-option
                       v-for="item in YYAgents"
                       :key="item.aid"
                       :label="item.truename"
                       :value="item.aid">
                       </el-option>
                  </el-select>
             </el-form-item>

             <el-form-item
              label="帐号"
              prop="account"
              :rules="[
                { required: true, message: '请填写账号', trigger: 'blur' },
                { required: true, pattern: /^[A-Za-z][A-Za-z0-9]{5,9}$/, message: '请填写正确的账号格式-6-10位字母+数字组合,必须以字母开头', trigger: 'blur' }
              ]"
             >
                  <el-input v-model="formData.account" class="short"></el-input>
             </el-form-item>

             <el-form-item
              label="密码"
              prop="password"
              :rules="[
                { required: true, message: '请填写密码', trigger: 'blur' }
              ]"
             >
                  <el-input v-model="formData.password" type="password" :disabled="PWDDisabled" class="short"></el-input>
             </el-form-item>

             <el-form-item label="联系方式">
                  <el-input v-model="formData.mobile" class="short"></el-input>
             </el-form-item>

             <el-form-item
              label="个人邮箱"
              prop="mail"
              :rules="[
                { required: false, pattern: /^[.a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$/, message: '请填写正确的邮箱格式', trigger: 'blur' }
              ]"
              >
                  <el-input v-model="formData.mail" class="short"></el-input>
             </el-form-item>

             <el-row class="contentButton">
                  <el-button type="primary" @click="submit('formData')">提交</el-button>
                  <el-button @click="dialogVisible=false">取消</el-button>
             </el-row>
        </el-form>
   </el-dialog>

        <el-dialog title="修改密码" :visible.sync="PWDdialogVisible" :before-close="PWDclose" width="80%">
             <el-form ref="PWDformData" label-position="right" :model="PWDformData" label-width="120px" class="demo-ruleForm-pwd">

             <el-form-item label="密码" required>
                  <el-input v-model="PWDformData.password" type="password" class="short"></el-input>
             </el-form-item>
             <el-row class="contentButton">
                  <el-button type="primary" @click="UpPWD">提交</el-button>
                  <el-button @click="PWDdialogVisible=false">取消</el-button>
             </el-row>
        </el-form>
   </el-dialog>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex'
import {searchDoctor, list, update, detail, updateStatus, updatePWD, infoExport} from '@/api/admin/doctor';
import Pagination from '@/components/Pagination'
export default {
   components: { Pagination },
data() {
    return {
        loading: false,
        formData: {
             id: '',
             company_id: 0,
             mobile: '',
             mail: '',
             username: '',
             old_aid: '',
             aid: '',
             password: '',
             account: '',
        },
        PWDformData: {
             id: '',
             password: ''
        },
        query: {
             doctorId: '',
             doctorName: '',
             page: 1,
             page_size: 20,
        },
        active: 1,
        inactive: 2,
        total: 0,
        dialogVisible: false,
        PWDdialogVisible: false,
        PWDDisabled: false,
        AgentList: [],
        YYAgents: [],
        roles: []
    }
},
mounted() {
  this.search()
},
computed: {
    ...mapGetters([
      'name',
      'yy_da_id',
      'role_id'
    ])
  },
methods: {
   search() {
      this.loading = true
      list(this.query).then(resp => {
           this.loading = false
            this.AgentList = resp.data.list
            this.query.page = Number(resp.data.page)
            this.total = resp.data.total
        }).catch((reason) => {
           this.loading = false
        })
    },

    detail(id) {
        detail(id).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.PWDformData.id = response.data.id
          this.PWDformData.password = response.data.password
          this.PWDDisabled = true
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    submit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          update(this.formData).then(response => {
               if (response.code === 20000) {
                    this.operationMsg('提交成功！', 'success')
                    this.close()
                    this.search()
               }
          }).catch(() => {})
        }
      })

   },

   changeStatus($event, id) {
        updateStatus(id, $event)
        .then(resp => {
             this.operationMsg("发布状态变更成功")
        })
   },

   UpPWD(id) {
        updatePWD(this.PWDformData.id,this.PWDformData.password).then(response => {
           if (response.code === 20000) {
             this.PWDclose()
             this.operationMsg('修改成功！', 'success')
             this.search()
           }
         }).catch(() => {})
     },

   // 远程获取医生
   searchDoctor(cb) {
      if (cb!='') {
        searchDoctor({'username': cb, 'role': this.role_id})
         .then(resp => {
            this.YYAgents = resp.data
         })
      } else {
        this.YYAgents = []
      }
    },

  infoExport() {
    infoExport(this.query).then(response => {
      if (response.code === 20000) {
        this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
      }
    }).catch()
  },

     //消息提示
  operationMsg(message,type) {
    this.$message({
      showClose: true,
      message: message,
      type: type
    });
  },

  close() {
    this.PWDDisabled = false
    this.dialogVisible = false
  },

  PWDclose() {
   this.PWDformData.password = ''
    this.PWDdialogVisible = false
  },

  showDiolog() {
        this.formData = {
          id: '',
          company_id: 0,
          mobile: '',
          mail: '',
          username: '',
          old_aid: '',
          aid: '',
          password: '',
          account: '',
        }
        this.PWDDisabled = false
        this.dialogVisible = true
   },


   PWDDiolog(id ,pwd) {
      this.PWDformData.id = id
      this.PWDformData.password = pwd
      this.PWDdialogVisible = true
   },
}

}
</script>
<style scoped>
.serveCompanyTitle {
   font-size: 13px;
   margin-right:1em;
   color: #4c4c4c;
   }
.page {
   margin-top: 10px;
}

tr.uhead {
   font-size: 1.2em;
}
</style>
