<template>
    <el-row :gutter="10">
        <el-col :span="22" :offset="1" style="margin-top:20px" class="query">
               <!-- 头部搜索  -->
               <el-form ref="form" inline label-width="120px">
                    <el-form-item label="账号:">
                         <el-input v-model="query.username" placeholder="账号"></el-input>
                    </el-form-item>

                    <el-form-item>
                         <el-button
                         type="primary"
                         @click="search()"
                         >搜索</el-button>
                    </el-form-item>
                    <el-button type="primary" class="newbutton" @click="showDiolog">添加</el-button>

               </el-form>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-stop:50px">
            <!-- 中间列表 -->
               <el-table
                    v-loading="loading"
                    header-row-class-name="uhead"
                    :data="agentList"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="username"
                         label="账号"
                         width="180px">
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="truename"
                         label="真实姓名"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="area"
                         label="大区"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="created_at"
                         label="创建时间" />
                         <el-table-column
                              header-align="center"
                              align="center"
                              label="状态">
                              <template slot-scope="scope">
                                   <el-switch
                                        v-model="scope.row.status"
                                        :active-value="1"
                                        :inactive-value="2"
                                        @change="changeStatus($event, scope.row.id)">
                                   </el-switch>
                              </template>
                         </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         width="280px"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-button
                                   type="primary"
                                   size="mini"
                                   @click="detail(scope.row.id)"
                                   >编辑</el-button>

                                   <el-button
                                   type="danger"
                                   size="mini"
                                   @click="pWDDiolog(scope.row.id, scope.row.password)"
                                   >修改密码</el-button>

                                  <el-button
                                  type="danger"
                                  size="mini"
                                  @click="pwdSync(scope.row.id)"
                                  >同步密码</el-button>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>

          <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />


          <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
               <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">

               <el-form-item
                  label="身份"
                  prop="role"
                  :rules="[
                    { required: true, message: '请选择身份', trigger: 'change' }
                  ]"
                >
                  <el-select v-model="formData.role" style="width: 100%;">
                    <el-option
                      v-for="item in roleList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>

               <el-form-item
                label="真实姓名:"
                prop="name"
                :rules="[
                  { required: true, message: '请填写真实姓名', trigger: 'blur' }
                ]"
               >
                    <el-input v-model="formData.name" class="short"></el-input>
               </el-form-item>

               <el-form-item
                label="帐号"
                prop="account"
                :rules="[
                  { required: true, message: '请填写账号', trigger: 'blur' },
                  { required: true, pattern: /^[A-Za-z][A-Za-z0-9]{2,18}$/, message: '请填写正确的账号格式-字母+数字组合,必须以字母开头', trigger: 'blur' }
                ]"
               >
                    <el-input v-model="formData.account" class="short"></el-input>
               </el-form-item>

               <el-form-item
                label="密码"
                prop="password"
                :rules="[
                  { required: true, message: '请填写密码', trigger: 'blur' }
                ]"
               >
                    <el-input v-model="formData.password" type="password" :disabled="PWDDisabled" class="short"></el-input>
               </el-form-item>

               <el-form-item label="联系方式">
                    <el-input v-model="formData.mobile" class="short"></el-input>
               </el-form-item>

               <el-form-item
                label="个人邮箱"
                prop="mail"
                :rules="[
                  { required: false, pattern: /^[.a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$/, message: '请填写正确的邮箱格式', trigger: 'blur' }
                ]"
                >
                    <el-input v-model="formData.mail" class="short"></el-input>
               </el-form-item>

               <el-form-item
                 v-if="formData.role==1"
                 label="大区"
                 prop="area"
                 :rules="[
                   { required: true, message: '请选择大区', trigger: 'change' }
                 ]"
               >
                 <el-select
                  v-model="formData.area"
                  multiple
                  clearable
                  style="width: 100%;">
                   <el-option
                     v-for="item in areaList"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id">
                   </el-option>
                 </el-select>
               </el-form-item>

               <el-form-item>
                  <span style="color: red;">*新增用户自动同步到视频管理系统且同步功能仅在新增的时候生效</span>
               </el-form-item>

               <el-row class="contentButton">
                    <el-button type="primary" @click="submit('formData')">提交</el-button>
                    <el-button @click="dialogVisible=false">取消</el-button>
               </el-row>
          </el-form>
     </el-dialog>

          <el-dialog title="修改密码" :visible.sync="PWDdialogVisible" :before-close="pWDclose" width="80%">
               <el-form ref="PWDformData" label-position="right" :model="PWDformData" label-width="120px" class="demo-ruleForm-pwd">

               <el-form-item label="密码" required>
                    <el-input v-model="PWDformData.password" type="password" class="short"></el-input>
               </el-form-item>
               <el-row class="contentButton">
                    <el-button type="primary" @click="upPWD">提交</el-button>
                    <el-button @click="PWDdialogVisible=false">取消</el-button>
               </el-row>
          </el-form>
     </el-dialog>
    </el-row>
</template>

<script>
import { list, update, detail, updateStatus, updatePWD, syncPwd } from '@/api/admin/admin';
import { area } from '@/api/admin/agent';
import Pagination from '@/components/Pagination'
export default {
     components: { Pagination },
  data() {
      return {
          loading: false,
          query: {
            username: '',
            type: 3,
            page: 1,
            page_size: 20,
          },
          formData: {
            id: '',
            company_id: 0,
            mobile: '',
            mail: '',
            name: '',
            username: '',
            aid: '',
            password: '',
            account: '',
            type: 3,
            v_type: 7,
            area: [],
            role: 1
          },
          agentList: [],
          areaList: [],
          total: 0,
          dialogVisible: false,
          PWDdialogVisible: false,
          PWDDisabled: false,
          PWDformData: {
            id: 0,
            password: ''
          },
          roleList: [
            { id: 1, name: '力蜚能' },
            { id: 2, name: '英联' }
          ]
      }
  },
  mounted() {
    this.search()
  },
  methods: {
    getArea() {
      area().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

     search() {
        this.loading = true
        list(this.query).then(resp => {
            this.loading = false
            this.agentList = resp.data.list
            this.total = resp.data.total
          }).catch((reason) => {
             this.loading = false
          })
      },

      detail(id) {
        this.getArea()
          detail(id).then(response => {
          if (response.code === 20000) {
            this.formData = response.data
            this.PWDformData.id = response.data.id
            this.PWDformData.password = response.data.password
            this.PWDDisabled = true
            this.dialogVisible = true
          }
        }).catch(() => {})
      },

      submit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            update(this.formData).then(response => {
                 if (response.code === 20000) {
                      this.operationMsg('提交成功！', 'success')
                      this.close()
                      this.search()
                 }
            }).catch(() => {})
          }
        })
     },

     changeStatus($event, id) {
          updateStatus(id, $event)
          .then(resp => {
               this.operationMsg("发布状态变更成功")
          })
     },

     upPWD(id) {
          updatePWD(this.PWDformData.id,this.PWDformData.password).then(response => {
             if (response.code === 20000) {
               this.pWDclose()
               this.operationMsg('修改成功！', 'success')
               this.search()
             }
           }).catch(() => {})
       },

    //消息提示
    operationMsg(message,type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      });
    },

    close() {
      this.PWDDisabled = false
      this.dialogVisible = false
    },

    pWDclose() {
     this.PWDformData.password = ''
      this.PWDdialogVisible = false
    },

    showDiolog() {
          this.formData = {
            id: '',
            company_id: 0,
            mobile: '',
            mail: '',
            name: '',
            username: '',
            aid: '',
            password: '',
            account: '',
            type: 3,
            v_type: 7,
            area: [],
            role: 1
          }
          this.getArea()
          this.PWDDisabled = false
          this.dialogVisible = true
     },


     pWDDiolog(id ,pwd) {
      this.PWDformData.id = id
      this.PWDformData.password = pwd
      this.PWDdialogVisible = true
     },
     
     pwdSync(id) {
       this.$confirm('确认要同步密码到视频管理系统吗?', '提示', {
         confirmButtonText: '确定',
         cancelButtonText: '取消',
         type: 'warning'
       }).then(() => {
         var query = { id: id }
         syncPwd(query).then(response => {
           if (response.code == 20000) {
             this.operationMsg('同步成功！', 'success')
           }
         }).catch(() => {})
       }).catch(() => {})
     }
     
  }

}
</script>
<style scoped>
.serveCompanyTitle {
     font-size: 13px;
     margin-right:1em;
     color: #4c4c4c;
     }
.page {
     margin-top: 10px;
}

tr.uhead {
     font-size: 1.2em;
}
</style>
