<template>
    <el-dialog
    :title="title"
    :visible.sync="show"
    width="30%"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    :before-close="close"
    >
        <el-input v-model="inputValue" placeholder="请输入部门名称"></el-input>
        <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" v-permission="'organization:updateDep'" @click="handleDialog">确 定</el-button>
        </span>
    </el-dialog>
</template>
<script>
    import { addDep,renameDep } from '@/api/organizationStructure/organization.js'
    export default{
        props:['show','title','depId','depName'],
        data(){
            return {
                inputValue:'',

            }
        },
        watch:{
            title(val){
                this.title = val;
                if(this.title == '重命名'){
                    this.inputValue = this.depName;
                }
            },
            depId(val){
                if(this.title == '重命名'){
                    this.inputValue = this.depName;
                } else {
                    this.inputValue = ''
                }
            }
        },
        methods:{
            // 关闭
            close(){
                this.inputValue = '';
                this.$emit('showDialogFn')
            },
            // 确定
            async handleDialog(){
                if(this.inputValue == ''){
                    this.$message({
                        message: '请输入部门名称！',
                        type: 'warning'
                    });
                    return
                };
                // 新增部门
                if(this.title != '重命名'){
                    let params = {
                        parent_depart_id:this.depId,
                        name:this.inputValue
                    };
                    let res = await addDep(params);
                    if(res.msg == 'success'){
                        this.$message({
                            message: '添加成功！',
                            type: 'success'
                        });
                        
                    }
                } else {
                    let params = {
                        name : this.inputValue
                    };
                    let res = await renameDep(this.depId,params);
                    if(res.msg == 'success'){
                        this.$message({
                            message: '重命名成功！',
                            type: 'success'
                        });
                    }
                }
                this.inputValue = '';
                this.$emit('showDialogFn');
                this.$emit('treeList');
                
            }
        }
    }
</script>
<style lang="scss" scoped>

</style>