<template>
    <el-dialog
    title="添加角色"
    :visible.sync="show"
    width="40%"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    :before-close="() => { this.$emit('showDialogFn') }"
    center
    >
    <el-tabs v-model="activeValue" @tab-click="tabClick">
        <el-tab-pane label="角色信息" name="1"></el-tab-pane>
        <el-tab-pane label="权限设置" name="2"></el-tab-pane>
        <div v-if="activeValue == 1">
            <el-descriptions title="">
                <el-descriptions-item label="所属公司"><el-tag size="mini">{{comName}}</el-tag></el-descriptions-item>
            </el-descriptions>
            <el-form :model="roleForm" label-position="top" ref="queryForm">
                <el-form-item required label="角色名称" prop="name">
                    <el-input placeholder="请输入角色名称" v-model="roleForm.name"></el-input>
                </el-form-item>
                <el-form-item required label="角色ID" prop="alias">
                    <el-input placeholder="请输入角色ID" maxlength="32" v-model="roleForm.alias"></el-input>
                </el-form-item>
                <el-form-item required label="角色状态" prop="status">
                    <el-switch v-model="roleForm.status" @change="changeStatus"></el-switch>
                </el-form-item>
                <el-form-item label="角色描述" prop="desc">
                    <el-input
                    type="textarea"
                    :rows="2"
                    placeholder="请输入内容"
                    v-model="roleForm.desc">
                    </el-input>
                </el-form-item>
            </el-form>
        </div>
        <el-empty v-else description="暂未开放"></el-empty>
    </el-tabs>
    <div slot="footer" class="dialog-footer">
        <el-button @click="() => { this.$emit('showDialogFn') }">取 消</el-button>
        <el-button type="primary" v-permission="'role:update'" @click="handleDialog()">确 定</el-button>
    </div>
    </el-dialog>
</template>
<script>
    import { roles, updateRole } from '@/api/organizationStructure/organization.js'
    export default{
        props:['show','roletype','comName','roleData'],
        data(){
            return {
                activeValue:'1',
                roleForm:{
                    name:'',
                    alias:'',
                    status:false,
                    desc:''
                }
            }
        },
        watch:{
            roleData(val){
                this.roleForm = {
                    ...val,
                    alias:val.role_id,
                    status:val.status==1?true:false
                }
            }
        },
        methods:{
            changeStatus(val){
                // val?this.roleForm.status = 1:this.roleForm.status = -1;
                console.log(this.roleForm.status);
            },
            handleDialog(){
                // console.log(this.roleData.id)
                // return
                // 新增
                this.$refs['queryForm'].validate(async (valid) => {
                    if (valid) {
                        
                        let aliasReg = /^[a-zA-Z][a-zA-Z0-9]{1,32}$/;
                        if(!aliasReg.test(this.roleForm.alias)){
                            this.$message({
                                message: '请填首字母开头，数字和字母组合的ID',
                                type: 'warning'
                            });
                            return
                        }
                        let status = this.roleForm.status?1:-1;
                        let params = {
                            // ...this.roleForm,
                            name:this.roleForm.name,
                            alias:this.roleForm.alias,
                            desc:this.roleForm.desc,
                            status
                        };

                        if(this.roletype == 'add'){
                            let res = await roles('add',params);
                            if(res.msg == 'success'){
                                this.$message({
                                    message: '新增成功！',
                                    type: 'success'
                                });
                                this.$emit('showDialogFn');
                                this.$emit('getList');
                                this.$refs['queryForm'].resetFields();
                            };
                        } else {
                            let res = await updateRole(this.roleData.id,params);
                            if(res.msg == 'success'){
                                this.$message({
                                    message: '更新成功！',
                                    type: 'success'
                                });
                                this.$emit('showDialogFn');
                                this.$emit('getList');
                                this.$refs['queryForm'].resetFields();
                            };
                        }
                    } else {
                        return false;
                    }
                });
            },
            tabClick(){

            }
        }
    }
</script>

<style lang="scss" scoped>
h4{
    padding: 10px 15px;
    color: #FF982A;
    font-weight: normal;
    border: 1px solid #FF982A;
    border-radius: 3px;
    background-color: #fff;
    font-size: 12px;
    margin-top: 0;
}
.el-dialog--center{
    .el-dialog__body{
        padding-top: 2px;
    }
    .el-descriptions{
        margin: 10px 0;
        padding-left: 0;
    }
    .el-form--label-top{
        .el-form-item__label{
            padding-bottom: 0;
        }
    }
}
</style>