<template>
    <el-dialog
    title=""
    :visible.sync="show"
    width="40%"
    :destroy-on-close="true"
    :close-on-click-modal="false"
    :before-close="handleDialog"
    >
        <h4>【{{depName}}】正在绑定关系选择中</h4>
        <span slot="footer" class="dialog-footer">
            <div class="tree_list">
                <el-tree
                :data="dialogOrganization"
                :props="defaultProps"
                :highlight-current="true"
                show-checkbox
                check-strictly
                ref="dialogTree"
                node-key="id"
                :default-checked-keys="currentkeys"
                >
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                        <span>{{ data.name }}</span>
                        <el-button v-show="data.bind_department.length !== 0" size="mini" slot="reference" type="primary" round>绑定对象：{{data.bind_department.bind_name}}</el-button>
                    </span>
                </el-tree>
            </div>
            <el-button @click="handleDialog">取 消</el-button>
            <el-button type="primary" @click="getkeys" v-permission="'organization:bindOr'">确 定</el-button>
        </span>
    </el-dialog>
</template>
<script>
    import { bindDep } from '@/api/organizationStructure/organization.js'
    export default{
        props:['show','depId','depName','organization'],
        data(){
            return {
                dialogOrganization:[],
                defaultProps: {
                    children: 'children',
                    label: 'name',
                },
                checkedArr:[],
                currentkeys:[]
            }
        },
        watch:{
            organization(val){
                this.dialogOrganization = [...val];
                this.checkedArr = [];
                this.getCheckedData(val,this.$refs.dialogTree)
            }
        },
        methods:{
            // 递归遍历节点是否已被选择
            getCheckedData(organization,tree){
                let organization_len = organization.length;
                for(let i = 0; i < organization_len; i++){
                    let childrenLen = organization[i].children.length;
                    let len = Object.keys(organization[i].bind_department).length;
                    // 判断是否有孩子节点
                    if(childrenLen === 0){
                        // 判断是否已经绑定
                        if(len !== 0){
                            // 若已经绑定，则判断绑定的是否是当前部门
                            // 若是，则把id放入数组checkedArr，方便后期回显
                            // 若否，则禁止选择
                            if(organization[i].bind_department.bind_id == this.depId){
                                this.checkedArr.push(organization[i].id);
                            } else {
                                this.$refs.dialogTree.setCheckedKeys([]);
                                organization[i].disabled=true;
                            }
                        } else {
                            // 若无绑定，则可以任意选择
                            organization[i].disabled=false;
                        }
                    } else {
                        if(len !== 0){
                            if(organization[i].bind_department.bind_id == this.depId){
                                this.checkedArr.push(organization[i].id);
                            } else {
                                organization[i].disabled=true;
                            }
                            this.$refs.dialogTree.setCheckedKeys([]);
                            this.getCheckedData(organization[i].children,tree);
                        } else {
                            console.log('99')
                            this.getCheckedData(organization[i].children,tree);
                        }
                    }
                }
                this.$refs.dialogTree.setCheckedKeys(this.checkedArr)
            },
            // 获取选中的部门id组
            async getkeys(){
                let params = {
                    sync_dept_id:this.$refs.dialogTree.getCheckedKeys()
                }
                let res = await bindDep(this.depId,params);
                if(res.msg == 'success'){
                    this.$message({
                        message: '绑定成功！',
                        type: 'success'
                    });
                    this.$emit('treeList')
                    this.handleDialog();
                }
            },
            handleDialog(){
                this.$emit('showDialogFn');

            },
        }
    }
</script>
<style lang="scss" scoped>
h4{
    padding: 10px 15px;
    color: #FF982A;
    font-weight: normal;
    border: 1px solid #FF982A;
    border-radius: 3px;
    background-color: #fff;
    font-size: 12px;
    margin-top: 0;
}
</style>