<template>
    <el-drawer
    title="成员详情"
    :visible.sync="show"
    direction="rtl"
    :before-close="handleDialog">
        <div class="info_avatar">
            <el-avatar :size="60" :src="info.avatar">
                <img :src="info.avatar"/>
            </el-avatar>
            <div class="name">{{info.name}}</div>
        </div>
        <el-descriptions :column="1" size="medium">
            <el-descriptions-item label="姓名">{{info.name}}</el-descriptions-item>
            <el-descriptions-item label="职务">{{info.title}}</el-descriptions-item>
            <el-descriptions-item label="部门">{{info.depart_name}}</el-descriptions-item>
            <el-descriptions-item label="手机号">
                <div v-if="editTag" class="edit">
                    <span>{{info.mobile}}</span>
                    <i class="el-icon-edit" v-permission="'organization:mobile'" @click="handelEdit(1)"></i>
                </div>
                <el-form v-else :inline='true' ref="queryForm" label-width="100px" size="medium">
                    <el-form-item label="" prop="doctorName">
                        <el-input placeholder="请输入新的手机号" maxlength="11" v-model="phone"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button size="mini" @click="handelEdit(1)">取消</el-button>
                        <el-button type="primary"  v-permission="'organization:mobile'" size="mini" @click="editInfo(1)">确定</el-button>
                    </el-form-item>
                </el-form>
            </el-descriptions-item>
            <el-descriptions-item label="邮箱">
                <div v-if="emailTage" class="edit">
                    <span>{{info.mail}}</span>
                    <i class="el-icon-edit" v-permission="'organization:email'" @click="handelEdit(2)"></i>
                </div>
                <el-form v-else :inline='true' ref="queryForm" label-width="100px" size="medium">
                    <el-form-item label="" prop="doctorName">
                        <el-input placeholder="请输入新的邮箱地址" v-model="email"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button size="mini" @click="handelEdit(2)">取消</el-button>
                        <el-button type="primary" v-permission="'organization:email'" size="mini" @click="editInfo(2)">确定</el-button>
                    </el-form-item>
                </el-form>
            </el-descriptions-item>
            <el-descriptions-item label="工号">{{info.job_no}}</el-descriptions-item>
            <el-descriptions-item label="入职时间">{{info.employment_date}}</el-descriptions-item>
        </el-descriptions>
        <div class="btns">
            <el-button type="primary"  v-permission="'organization:quit'" @click="quit">操作离职</el-button>
        </div>
    </el-drawer>
</template>
<script>
    import { mobile, email, quitJob } from '@/api/organizationStructure/organization.js'
    export default{
        props:['show','title','info','userid'],
        data(){
            return {
                phone:'',
                email:'',
                editTag:true,
                emailTage:true
            }
        },
        methods:{
            // 修改手机号
            async editInfo(type){
                if(type == 1){
                    let reg = /^1[0-9]{10}$/;
                    if(this.phone == ''){
                        this.$message({
                            message: '请输入手机号',
                            type: 'error'
                        });
                        return
                    } else if(!reg.test(this.phone)){
                        this.$message({
                            message: '请输入正确的手机号',
                            type: 'error'
                        });
                        return
                    }
                    let params = {
                        mobile:this.phone
                    };
                    let res = await mobile(this.userid,params);
                    if(res.msg == 'success'){
                        this.$message({
                            message: '修改成功！',
                            type: 'success'
                        });
                        this.$emit('updateUserDetail',this.userid);
                        this.handelEdit(1);
                    };

                } else if(type == 2){
                    let eReg = /^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/;
                    if(this.email == ''){
                        this.$message({
                            message: '请输入邮箱',
                            type: 'error'
                        });
                        return
                    } else if(!eReg.test(this.email)){
                        this.$message({
                            message: '请输入正确的邮箱',
                            type: 'error'
                        });
                        return
                    } 
                    let params = {
                        mail:this.email
                    };
                    let res = await email(this.userid,params);
                    if(res.msg == 'success'){
                        this.$message({
                            message: '修改成功！',
                            type: 'success'
                        });
                        this.$emit('updateUserDetail',this.userid);
                        this.handelEdit(2);
                    }
                }
            },
            // 操作离职
            async quit(){
                let res = await quitJob(this.userid);
                if(res.msg == 'success'){
                    this.$message({
                        message: '离职成功！',
                        type: 'success'
                    });
                    this.$emit('reGetUser');
                    this.handleDialog();
                }

            },
            handleDialog(){
                this.$emit('showDraw');
            },
            handelEdit(type){
                if(type == 1){
                   this.editTag = !this.editTag 
                } else if(type == 2){
                    this.emailTage = !this.emailTage 
                }
                
            }
        }
    }
</script>
<style lang="scss">
.info_avatar{
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: center;
    .name{
        margin-left: 20px;
    }
}
.el-descriptions{
    padding: 0 20px 0 60px;
    .el-descriptions__table{
        font-size: 14px;
    }
    .edit{
        i{
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            color: #1890ff;
            margin-left: 15px;
        }
    }
}
.btns{
    margin-top: 20px;
    padding: 0 20px;
}
</style>