<template>
     <el-dialog title="添加人员" :visible="open" :before-close="close">
     <el-row :gutter="10">
          <el-col :span="8">
               <el-menu 
                    default-active="1-1" 
                    mode="vertical" 
                    @select="handleSelect"
                    >
                    
                    <el-menu-item index="1"></el-menu-item>
                    <el-submenu index="1">
                         <template #title>
                              <i class="el-icon-caret-bottom"></i>
                              <span>产品列表</span>
                         </template>
                         <el-menu-item 
                              v-for="val in getProducts"
                              :key="val.id"
                              :index="val.index"
                              >{{ val.name }}</el-menu-item>
                    </el-submenu>
               </el-menu>
          </el-col>
          <el-col :span="15" :offset="1">
               <el-form ref="form" label-width="0px">
                    <el-form-item >
                         <el-input v-model="keywords" placeholder="" class="keywords"></el-input>
                         <el-button type="primary" @click="searchAgents">搜索</el-button>
                    </el-form-item>
                    <el-form-item v-if="selectProductId > 0">
                         <el-checkbox 
                         v-model="isProductAll" @change="productAllChange"
                         :disabled="isSameProduct"
                         :checked="isSameProduct || isProductAll"
                         >{{ getAllAgentName  }}</el-checkbox>
                    </el-form-item>
                    <el-form-item>
                         <el-table
                              :data="agents"
                              border
                              style="width: 100%">
                              <el-table-column
                                   width="55">
                                   <template #header>
                                        <el-checkbox v-model="selectPageAll" @change="toggleCheckPageAll" ></el-checkbox>
                                   </template>
                                   <template #default="scope">
                                        <el-checkbox 
                                             :disabled="scope.row.is_disabled"
                                             v-model="scope.row.is_checked"
                                             ></el-checkbox>
                                   </template>
                              </el-table-column>
                              <el-table-column
                                   header-align="center"
                                   align="center"
                                   prop="name"
                                   label="代表名称" >
                              </el-table-column>
                         </el-table>
                    </el-form-item>
                    <el-form-item>
                         <el-button 
                         type="primary" 
                         :disabled="!isPrevPage"
                         @click="goPrevPage">上一页</el-button>
                         <el-button 
                         type="primary" 
                         :disabled="!isNextPage"
                         @click="goNextPage"
                         >下一页</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
     </el-row>
     <template #footer>
     <span class="dialog-footer">
          <el-button @click="close">取 消</el-button>
          <el-button type="primary" @click="saveAgents">保 存</el-button>
     </span>
     </template>
     </el-dialog>
</template>
<script>
import {getProduct} from '@/api/product/product';
import {getAgentByServeProduct} from '@/api/agent/agent';
import axios from 'axios';
export default {
     name: "AddAgent",
     props: ["open", "users"],
     data: function() {
          return {
               isProductAll: false,
               selectProductId: 0,
               keywords: "",
               limit: 10,
               productList: [],
               agents: [],
               page: {
                    total: 0,
                    pages: 0,
                    current: 1,
                    size: 8
               },
               init_user_ids: [],
               init_product_ids: [],
               select_product_ids: [],
               isSameProduct: false,
               selectPageAll: false,
               user_items: [],
               isDisabledProductAll: false
          };
     },
     mounted: function() {
          this.initializeProductsAndAgents()
          
          for (const key in this.users) {
               if (this.users[key].user_id > 0) {
                    this.$data.init_user_ids.push(this.users[key].user_id)
               } else {
                    this.$data.init_product_ids.push(this.users[key].product_id)
               }
          }
     },
     methods: {
          initializeProductsAndAgents() {
               let me = this
               axios.all([
                    getProduct(),
                    getAgentByServeProduct(this.$data.selectProductId, this.$data.page.current, this.$data.page.limit)
               ]).then(axios.spread(function(productResp, agentResp) {
                    me.productList = productResp.data.list
                    me.setAgents(agentResp.data.list)
                    me.page = agentResp.data.page
               }))
          },
          handleSelect(params) {
               let index = parseInt(params.substr(2)) - 1
               let oldSelectProductId = this.$data.selectProductId
               let oldIsSelectProductAll = this.$data.isProductAll
               console.log(oldSelectProductId, oldIsSelectProductAll)
               this.calcWhenChange(oldSelectProductId, oldIsSelectProductAll)

               this.$data.isProductAll = false
               if (index == 0) {
                    this.$data.selectProductId = 0
               } else {
                    let item = this.$data.productList[--index]
                    this.$data.selectProductId = item.id
                    
                    this.$data.isSameProduct = this.$data.init_product_ids.length > 0 && this.$data.init_product_ids.includes(item.id)
                    this.$data.isProductAll = this.$data.select_product_ids.length > 0 && this.$data.select_product_ids.includes(item.id)
               }
               this.getAgents(1)
          },
          getAgents(current) {
              getAgentByServeProduct(
                   this.$data.selectProductId, 
                   current, 
                   this.$data.page.limit,
                   this.$data.keywords
                   )
               .then(response => {
                    this.setAgents(response.data.list)
                    this.$data.page = response.data.page
               }) ;
          },
          setAgents(agents) {
               let productId = this.$data.selectProductId
               let me = this
               let items = agents.map(function(val) {
                    let isDisabled = me.checkDisabled(val)
                    let isChecked = me.checkSelected(val)
                    return {
                         id: val.id,
                         name: val.name,
                         yyid: val.yyid,
                         product_id: productId,
                         is_disabled: isDisabled,
                         is_checked: isChecked
                    }
               });
               this.$data.agents = items
          },
          goPrevPage() {
               const selectProductId = this.$data.selectProductId
               const oldIsSelectProductAll = selectProductId == 0 ? false : this.$data.isProductAll
               this.calcWhenChange(selectProductId, oldIsSelectProductAll)
               this.getAgents(--this.$data.page.current)
          },
          goNextPage() {
               const selectProductId = this.$data.selectProductId
               const oldIsSelectProductAll = selectProductId == 0 ? false : this.$data.isProductAll
               this.calcWhenChange(selectProductId, oldIsSelectProductAll)
               this.getAgents(++this.$data.page.current)
          },
          searchAgents() {
               this.getAgents(this.$data.page.current)
          },
          checkDisabled(row) {
               const isDisabled = this.$data.isSameProduct || this.$data.isProductAll || this.$data.init_user_ids.includes(row.id)
               return isDisabled
          },
          checkSelected(row) {
               return this.$data.isSameProduct || this.$data.isProductAll || this.$data.init_user_ids.includes(row.id) || this.calcSelected(row)
          },
          calcSelected(row) {
               const productId = this.$data.selectProductId
               const userId = row.id
               const index = this.$data.user_items.findIndex(function(val) {
                    return val.product_id == productId && val.id == userId
               })
               return index != -1;
          },
          close() {
               this.$emit("close")
          },
          calcWhenChange(selectProductId, isProductAll) {
               //变更条件时计算有效代表
               if (isProductAll) {
                    this.mergeProductId(selectProductId)
                    this.clearUserByProduct(selectProductId)
               } else {
                    this.clearProductFromList(selectProductId)
                    this.mergeUsers(this.$data.agents)
               }
          },
          clearUserByProduct(productId) {
               const userItems = this.$data.user_items.filter(function(val){
                    return val.product_id != productId;
               });
               this.$data.user_items = userItems
          },
          mergeUsers(users) {
               for (const key in users) {
                    let item = users[key]
                    if (item.is_disabled) {
                         continue
                    }

                    let isChecked = item.is_checked
                    if (!isChecked) {
                         this.clearUserItem(item)
                    } else {
                         this.addUser(item)
                    }
               }
          },
          addUser(user) {
               const index = this.$data.user_items.findIndex(function(val){
                    return val.id == user.id && val.product_id == user.product_id
               })
               if (index != -1) {
                    return
               }
               this.$data.user_items.push(user)
          },
          clearUserItem(user) {
               if (this.$data.user_items.length == 0) {
                    return;
               }
               const index = this.$data.user_items.findIndex(function(val){
                    return user.id == val.id && user.product_id == val.product_id
               })
               if (index != -1) {
                    this.$data.user_items.splice(index, 1)
               }
          },
          clearProductFromList(productId) {
               if (this.$data.select_product_ids.length == 0) {
                    return;
               }
               const index = this.$data.select_product_ids.findIndex(function(val){
                    return val == productId
               })
               if (index != -1) {
                    this.$data.select_product_ids.splice(index, 1)
               }
          },
          mergeProductId(productId) {
               const index = this.$data.select_product_ids.findIndex(function(val){
                    return val == productId
               })
               if (index != -1) {
                    return
               }
               this.$data.select_product_ids.push(productId)
          },
          saveAgents() {
              let oldSelectProductId = this.$data.selectProductId
              let oldIsSelectProductAll = this.$data.isProductAll
              this.calcWhenChange(oldSelectProductId, oldIsSelectProductAll)

              //合并
              const list = []
              for (const key in this.$data.select_product_ids) {
                let name = this.findProductNameById(this.$data.select_product_ids[key])
                if (name) {
                     list.push({
                          id: 0,
                          name: name+"全体人员",
                          product_id: this.$data.select_product_ids[key],
                          user_id: 0
                     })
                }
              }


              for (const key in this.$data.user_items) {
                   let item = this.$data.user_items[key]
                   list.push({
                        id: 0,
                        name: item.name,
                        product_id: item.product_id,
                        user_id: item.id,
                        yyid: item.yyid
                   })
              }
              this.$emit("add", list)
          }, 
          findProductNameById(id) {
               if (id == 0) {
                    return ""
               }
               const item = this.$data.productList.find(function(val){
                    return val.id == id;
               })
               return item == undefined ? "" : item.name
          },
          checkAll(isDisabled = false) {
               for (const key in this.$data.agents) {
                         let item = this.$data.agents[key]
                         item.is_disabled = item.is_disabled || isDisabled
                         item.is_checked = true
                         this.$set(this.$data.agents, key, JSON.parse(JSON.stringify(item)))         
               }
          },
          unProductAll() {
               for (const key in this.$data.agents) {
                    let item = this.$data.agents[key]
                         let isDisabled = this.checkDisabled(item)
                         item.is_disabled = isDisabled
                         item.is_checked = isDisabled
                         this.$set(this.$data.agents, key, JSON.parse(JSON.stringify(item)))       
                    }
          },
          productAllChange(val) {
               if (val) {
                   this.checkAll(true)
               } else {
                    //当前页面数据取消全选且不在初始化数据里面的需要取消禁用
                    this.unProductAll()
               }
          },
          toggleCheckPageAll(val) {
               if (val) {
                    this.checkAll(false)
               } else {
                    this.unProductAll()
               }
          }
     },
     computed: {
          getAllAgentName() {
               let name = "全体人员";
               let selectId = this.$data.selectProductId
               if (selectId > 0) {
                    let item = this.$data.productList.find(function(val) {
                         return val.id == selectId
                    });
                    if (item != undefined) {
                         name = item.name  + name;
                    }
               }
               return name;
          },
          getProducts() {
               let cursor = 1;
               let list = [{
                    id: 0,
                    name: "全部产品",
                    index: "1-1"
               }];
               for (const key in this.$data.productList) {
                    cursor += 1
                    let item = this.$data.productList[key]
                    list.push({
                         id: item.id,
                         name: item.name,
                         index: `1-${cursor}`
                    });
               }
               return list;
          },
          isNextPage() {
               return this.$data.page.current < this.$data.page.pages
          },
          isPrevPage() {
               return this.$data.page.current > 1
          }
     }
}
</script>
<style scoped>
.keywords {
     width: 15em;
}
</style>