<template>
     <el-dialog title="题目列表" :visible="RangeQuestionBool" :before-close="close">
         <el-form
      label-position="right"
      :model="itemsData"
      label-width="150px"
      class="demo-ruleForm"
    >
     <div>试卷名称： {{ paper_name }}</div>
     <div>出题类型： {{ test_paper_type?'试题出卷':'题库出卷' }}</div>
     <div>出题方式： {{ question_type?'随机出题':'顺序出题' }}</div>

     <el-table :data="itemsData" border stripe style="width: 100%;">
        <el-table-column prop="name" label="题目"></el-table-column>

        <el-table-column prop="item_type" label="类别">
          <template slot-scope="scope">
            <span>
              <p v-if="scope.row.item_type==1">单选</p>
              <p v-if="scope.row.item_type==2">多选</p>
              <p v-if="scope.row.item_type==3">描述</p>
            </span>
          </template>
        </el-table-column>
        </el-table>
        <el-row :gutter="10">
          <el-col :span="22" :offset="1" class="top">
               <el-form  label-width="120px" size="mini" label-position="left">
                 <!-- required -->
                    <el-form-item label="抽题数:">
                         <el-input-number v-model="cc" @change="handleChangeRange(cc,source)" @focus="ReleaseLock" :min="0" :max="total" label="题数"></el-input-number>
                    </el-form-item>
                    <el-form-item 
                    label="每题分数" 
                    size="mini">
                         <el-input v-model="source" @change="handleChangeRange(cc,source)" @focus="ReleaseLock" size="mini" class="cashInput"></el-input>
                    </el-form-item>
                    <div>共{{ total }}题</div>
                    <div>共{{ total_fraction }}分</div>
               </el-form>
          </el-col>
     </el-row>
      <el-divider></el-divider>
      <el-button @click="submitItems" :disabled="subm">提交 </el-button>
    </el-form>
     </el-dialog>
</template>

<script>
import { examPaperEdit } from '@/api/exam/exam_paper';
export default {
  name: 'RangeQuestionList',
  props:{
      RangeQuestionBool: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    itemsData: {
      type: Array,
      default: () => []
    },

    paper_name: {
      type: String,
      default: () => {
        return ''
      }
    },
    question_type: {
      type: Number,
      default: () => {
        return 0
      }
    },

    test_paper_type: {
      type: Number,
      default: () => {
        return 0
      }
    },

    type: {
      type: Number,
      default: () => {
        return 0
      }
    },

    paper_id: {
      type: Number,
      default: () => {
        return 0
      }
    },
    source: {
      type: Number,
      default: () => {
        return 0
      }
    },
    total: {
      type: Number,
      default: () => {
        return 0
      }
    },
    cc: {
      type: Number,
      default: () => {
        return 0
      }
    },
    total_fraction: {
      type: Number,
      default: () => {
        return 0
      }
    },    
  },
  components: {
  },

  data: function() {
    return {
      total_fraction: 0,
      subm: false,
    };
  },
  created() {
  },

  methods: {
    ReleaseLock(){
       this.subm = false
    },
    submitItems(){
      if(this.total_fraction > 100){
         console.log("panduan")
          this.$notify({
            title: '操作失败',
            message: "分数不得大于100分",
            type: 'error'
          })
          this.subm = true
      }else{
         examPaperEdit(this.itemsData, this.type, (this.question_type+1), this.paper_id, this.source, this.cc)
          .then(response => {
             if (response.data.code === 20000) {
                this.$notify({
                    title: '操作成功',
                    message: "分数配置完成",
                    type: 'success'
                })
             }
          })
      this.$emit('closeLiveDialog', true)
      }
    },
    handleChangeRange(itm,s){
      this.total_fraction = (itm*s).toFixed()
    },

    // focusChange(value){
    //   console.log(value);
    // },
    querySearch(queryString, cb) {
      // var list = this.staticDeparts
      // var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // // 调用 callback 返回建议列表的数据
      // cb(results)
    },

    showWhiteList() {
      this.whiteListDialog = true
    },

    close() {
      this.$emit('closeLiveDialog', false)
    }
  },
}
</script>