<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              multiple
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="省份">
            <el-select
              v-model="query.province"
              multiple
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="代表">
            <el-select
              v-model="query.agent"
              multiple
              clearable
              filterable
              remote
              :remote-method="searchAgent"
              placeholder="请输入关键字搜索(默认全部)"
            >
              <el-option
                v-for="item in agentList"
                :key="item.aid"
                :label="item.truename"
                :value="item.aid"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="医生ID">
            <el-select
              v-model="query.doctor"
              multiple
              filterable
              clearable
              remote
              :remote-method="searchDoctor"
              placeholder="请输入ID搜索(默认全部)"
            >
              <el-option
                v-for="item in doctorList"
                :key="item.id"
                :label="item.id"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: -20px">
      <el-button type="primary" @click="exportSign">导出</el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="doctor_id" label="医生ID" align="center" />
      <el-table-column prop="patient_num" label="治疗对象" align="center" />
      <el-table-column prop="follow_count" label="跟进次数" align="center" />
      <el-table-column prop="dt" label="治疗时间" align="center">
        <template slot-scope="{row}">
          <div v-for="(one,index) in row.dt">
            {{ one }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="treatment" label="治疗盒数" align="center">
        <template slot-scope="{row}">
          <div v-for="(one,index) in row.treatment">
            {{ one }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="agent_name" label="对应代表" align="center" />
      <el-table-column prop="agent_area" label="代表所属大区" align="center" />
      <el-table-column prop="agent_province" label="代表所属省份" align="center" />
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />
  </div>
</template>

<script>
import { province } from '@/api/admin/agent';
import * as summaryApi from '@/api/entry/summary'
import Pagination from '@/components/Pagination'

export default {
  name: 'DoctorSummary',
  components: { Pagination },
  data() {
    return {
      areaList: [],
      provinceList: [],
      agentList: [],
      doctorList: [],
      query: {
        area: [],
        province: [],
        agent: [],
        doctor: [],
        page: 1,
        page_size: 20
      },
      loading: false,
      list: [],
      total: 0
    }
  },
  created() {
    this.getArea()
    this.search()
  },
  watch: {
    'query.area'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        province({ area_id: newVal }).then(response => {
          this.provinceList = response.data
        }).catch(() => {})
      }
    }
  },
  methods: {
    getArea() {
      summaryApi.searchSummaryArea().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    search() {
      this.loading = true
      summaryApi.getEntrySummary(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    exportSign() {
      summaryApi.exportEntrySummary(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    searchAgent(cb) {
      if (cb!='') {
        summaryApi.searchSummaryAgent({'username': cb}).then(resp => {
          this.agentList = resp.data
        })
      } else {
        this.agentList = []
      }
     },

     searchDoctor(cb) {
      if (cb!='') {
        summaryApi.searchSummaryDoctor({'doctorId': cb}).then(resp => {
          this.doctorList = resp.data
        })
      } else {
        this.doctorList = []
      }
     },

    queryReset() {
      this.query = {
        area: [],
        province: [],
        agent: [],
        doctor: [],
        page: 1,
        page_size: 20
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
