<template>
    <el-row :gutter="10">
        <el-col :span="22" :offset="1" style="margin-top:20px" class="query">
               <!-- 头部搜索  -->
               <!-- <el-form ref="form" inline label-width="120px">
                    <el-form-item label="医生姓名:">
                         <el-input v-model="query.username" placeholder="医生姓名"></el-input>
                    </el-form-item>

                    <el-form-item>
                         <el-button
                         type="primary"
                         @click="search()"
                         >搜索</el-button>
                    </el-form-item>
               </el-form> -->
               <el-button type="primary" class="newbutton" @click="showDiolog" v-if="role_id!=3&&role_id!=4">信息录入</el-button>
               <el-button type="primary" class="newbutton" @click="infoExport">导出</el-button>
          </el-col>
          <el-col :span="22" :offset="1" style="margin-top:20px">
            <!-- 中间列表 -->
               <el-table
                    v-loading="loading"
                    header-row-class-name="uhead"
                    :data="AgentList"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="id"
                         label="ID"
                         width="60px">
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="initial_diagnosis_dt"
                         label="初诊日期"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="doctor_nid"
                         label="医生ID"/>
                    <el-table-column
                        header-align="center"
                        align="center"
                        prop="patient_num"
                        label="治疗编号"/>
                    <el-table-column
                        header-align="center"
                        align="center"
                        prop="created_at"
                        label="创建时间"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         width="250px"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-button
                                v-if="role_id!=3&&role_id!=4"
                                type="primary"
                                size="mini"
                                @click="detail(scope.row.id)"
                              >编辑</el-button>
                              <el-button
                                v-else
                                type="primary"
                                size="mini"
                                @click="detail(scope.row.id)"
                              >查看</el-button>
                              <el-popconfirm
                                v-if="role_id!=3&&role_id!=4"
                                title="确定要删除吗？"
                                confirm-button-text="确定"
                                cancel-button-text="取消"
                                @confirm="deleteInfo(scope.row.id)"
                                style="margin-left: 15px;"
                              >
                                <el-button slot="reference" type="danger" size="mini">删除</el-button>
                              </el-popconfirm>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>

          <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />


          <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
               <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm" :disabled="role_id==3||role_id==4">

                    <h3>医生信息</h3>
                <el-row>
                  <el-col :span="22">
                    <el-form-item
                      label="医生姓名:"
                      prop="aid"
                      :rules="[
                        { required: true, message: '请搜索医生姓名', trigger: 'change' }
                      ]"
                    >
                         <el-select
                              v-model="formData.aid"
                              filterable
                              clearable
                              remote
                              placeholder="请输医生名称"
                              :remote-method="searchDoctor"
                              @change="GetDoctorInfo($event)"
                              :disabled="IsDoctor"
                              style="width: 100%;"
                              >
                              <el-option
                              v-for="item in YYAgents"
                              :key="item.aid"
                              :label="item.truename"
                              :value="item.aid">
                              </el-option>
                         </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row>
                  <el-col :span="22">
                    <el-form-item  label="登录名:">
                         <el-input v-model="formData.dcotor_name" disabled class="short"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row>
                  <el-col :span="22">
                    <el-form-item  label="CRM编码:">
                         <el-input v-model="formData.dcotor_crm" disabled class="short"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>


                <el-divider />
                <el-row>
                  <el-col :span="22">
                    <el-form-item
                      label="治疗编号:"
                      prop="patient_num"
                      :rules="[
                        { required: true, message: '请填写治疗编号', trigger: 'blur' }
                      ]"
                    >
                         <el-input v-model="formData.patient_num" class="short"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row>
                     <el-col :span="22">
                          <el-form-item
                          label="性别"
                          prop="sex_id"
                          :rules="[
                               { required: true, message: '请选择性别', trigger: 'change' }
                          ]"
                          >
                          <el-select v-model="formData.sex_id" style="width: 100%;">
                               <el-option v-for="item in Sex" :key="item.id" :label="item.name" :value="item.id" />
                          </el-select>
                          </el-form-item>
                     </el-col>
                </el-row>

                <el-row>
                  <el-col :span="22">
                        <el-form-item
                        label="年龄"
                        prop="age_id"
                        :rules="[
                             { required: true, message: '请选择年龄', trigger: 'change' }
                        ]"
                        >
                        <el-select v-model="formData.age_id" style="width: 100%;">
                             <el-option v-for="item in Age" :key="item.id" :label="item.name" :value="item.id" />
                        </el-select>
                        </el-form-item>
                  </el-col>
                </el-row>



                    <!-- 随访 -->
                <el-divider />
                <h3>患者信息</h3>
                    <el-row>
                         <!-- :span="9" -->
                         <el-col :span="22">
                              <el-form-item
                              label="初诊时间"
                              prop="initial_dt"
                                   :rules="[
                                   { required: true, message: '请选择初诊时间', trigger: 'change' }
                              ]"
                              >
                              <el-date-picker v-model="formData.initial_dt" type="date" value-format="yyyy-MM-dd" style="width: 100%;" />
                              </el-form-item>
                         </el-col>
                    </el-row>



                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="诊断疾病"
                              prop="diagnostic_results_id"
                              :rules="[
                                   { required: true, message: '请选择疾病选项', trigger: 'change' }
                              ]"
                              >
                              <el-select
                                v-model="formData.diagnostic_results_id"
                                multiple
                                clearable
                                style="width: 100%;">
                                   <el-option v-for="item in diagnostic_results" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="HB值"
                              prop="hb_id"
                              :rules="[
                                   { required: true, message: '请选择HB值', trigger: 'change' }
                              ]"
                              >
                              <el-select v-model="formData.hb_id" style="width: 100%;">
                                   <el-option v-for="item in HB" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="SF值"
                              prop="sf_id"
                              :rules="[
                                   { required: true, message: '请选择SF值', trigger: 'change' }
                              ]"
                              >
                              <el-select v-model="formData.sf_id" style="width: 100%;">
                                   <el-option v-for="item in SF" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="铁剂治疗方案"
                              prop="iron_plan_id"
                              :rules="[
                                   { required: true, message: '请选择治疗方案', trigger: 'change' }
                              ]"
                              >
                              <el-select v-model="formData.iron_plan_id" style="width: 100%;">
                                   <el-option v-for="item in IronPlan" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>


                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="本次治疗盒数"
                              prop="treatment_id"
                              :rules="[
                                   { required: true, message: '请选择本次治疗盒数', trigger: 'change' }
                              ]"
                              >
                              <el-select v-model="formData.treatment_id" style="width: 100%;">
                                   <el-option v-for="item in Treatment" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="日治疗方案"
                              prop="daily_treatment_id"
                              :rules="[
                                   { required: true, message: '请选择日治疗方案', trigger: 'change' }
                              ]"
                              >
                              <el-select v-model="formData.daily_treatment_id" style="width: 100%;">
                                   <el-option v-for="item in DailyTreatment" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

               <!-- 随访 -->
                  <el-divider />

                  <el-row>
                    <el-col :span="3">
                      <h3>跟进信息</h3>
                    </el-col>
                    <el-col :span="3" style="padding-top: 15px;padding-bottom: 15px;">
                      <el-button type="primary" size="mini" plain @click="addfw()">+添加</el-button>
                    </el-col>
                  </el-row>

                  <div v-for="(onefw,index) in formData.fw" :key="'fw'+index"
                    style="border: 1px solid gainsboro;padding-top: 15px;margin-bottom: 10px;">
                    <el-row>
                         <!-- :span="9" -->
                         <el-col :span="22">
                              <el-form-item
                              label="随访时间"
                              :prop="'fw.'+index+'.fw_dt'"
                              :rules="[
                                { required: true, message: '请选择随访时间', trigger: 'change' }
                              ]">
                              <el-date-picker v-model="onefw.fw_dt" type="date" value-format="yyyy-MM-dd" style="width: 100%;" />
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="HB值"
                              :prop="'fw.'+index+'.fw_hb_id'"
                              :rules="[
                                { required: true, message: '请选择HB值', trigger: 'change' }
                              ]">
                              <el-select v-model="onefw.fw_hb_id" style="width: 100%;">
                                   <el-option v-for="item in HB" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="SF值"
                              :prop="'fw.'+index+'.fw_sf_id'"
                              :rules="[
                                { required: true, message: '请选择SF值', trigger: 'change' }
                              ]">
                              <el-select v-model="onefw.fw_sf_id" style="width: 100%;">
                                   <el-option v-for="item in SF" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="铁剂治疗方案"
                              :prop="'fw.'+index+'.fw_iron_plan_id'"
                              :rules="[
                                { required: true, message: '请选择治疗方案', trigger: 'change' }
                              ]">
                              <el-select v-model="onefw.fw_iron_plan_id" style="width: 100%;">
                                   <el-option v-for="item in IronPlan" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>


                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="本次治疗盒数"
                              :prop="'fw.'+index+'.fw_treatment_id'"
                              :rules="[
                                { required: true, message: '请选择本次治疗盒数', trigger: 'change' }
                              ]">
                              <el-select v-model="onefw.fw_treatment_id" style="width: 100%;">
                                   <el-option v-for="item in Treatment" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                    </el-row>

                    <el-row>
                         <el-col :span="22">
                              <el-form-item
                              label="日治疗方案"
                              :prop="'fw.'+index+'.fw_daily_treatment_id'"
                              :rules="[
                                { required: true, message: '请选择日治疗方案', trigger: 'change' }
                              ]">
                              <el-select v-model="onefw.fw_daily_treatment_id" style="width: 100%;">
                                   <el-option v-for="item in DailyTreatment" :key="item.id" :label="item.name" :value="item.id" />
                              </el-select>
                              </el-form-item>
                         </el-col>
                         <el-col :span="2" v-if="role_id!=3&&role_id!=4">
                           <i class="el-icon-circle-close"
                             style="color: red;font-size: 25px;margin-left: 20px;margin-top: 5px;cursor: pointer;"
                             @click="deletefw(onefw)"></i>
                         </el-col>
                    </el-row>
                </div>

               <el-row class="contentButton">
                    <el-button type="primary" @click="submit('formData')">提交</el-button>
                    <el-button @click="dialogVisible=false">取消</el-button>
               </el-row>
          </el-form>
     </el-dialog>
    </el-row>
</template>

<script>
import { mapGetters } from 'vuex'
import { getparameter, getDoctorInfo, list, update, detail, deleted, infoExport } from '@/api/entry/route';
import { searchAdminDoctor } from '@/api/admin/doctor';
import Pagination from '@/components/Pagination'
export default {
     components: { Pagination },
  data() {
      return {
          loading: false,
          formData: {
               id: '',
               name: '',
               username: '',
               aid: '',
               old_aid: '',
               dcotor_name: '',
               dcotor_crm: '',
               patient_num: '',
               sex_id: '',
               age_id: '',
               diagnostic_results_id: [],
               hb_id: '',
               sf_id: '',
               iron_plan_id: '',
               treatment_id: '',
               daily_treatment_id: '',
               initial_dt: '',
               fw: []
          },

          query: {
               username: '',
               page: 1,
               page_size: 20,
          },
          Age: [],
          Sex: [],
          HB: [],
          SF: [],
          IronPlan: [],
          diagnostic_results: [],
          Treatment: [],
          DailyTreatment: [],
          total: 0,
          dialogVisible: false,
          AgentList: [],
          YYAgents: [],
          IsDoctor: false     // 当前登陆是否是医生
      }
  },
  mounted() {
    this.search()
    this.Getparameter()
  },
  computed: {
    ...mapGetters([
      'name',
      'yy_da_id',
      'role_id'
    ])
  },
  methods: {

     // 获取医生信息
     GetDoctorInfo(doctor_id){
          getDoctorInfo({ id: doctor_id }).then(resp => {
               this.formData.dcotor_name = resp.data[0].dcotor_name
               this.formData.dcotor_crm = resp.data[0].dcotor_crm
               this.YYAgents = resp.data[1]
          }).catch((reason) => {
          })
     },

     // 获取参数
     Getparameter(){
          getparameter().then(resp => {
              // 以下为 各种选择参数
              this.Age = resp.data.age
              this.Sex = resp.data.sex
              this.diagnostic_results = resp.data.diagnostic_results
              this.HB = resp.data.hb
              this.SF = resp.data.sf
              this.IronPlan = resp.data.iron_plan
              this.Treatment = resp.data.treatment
              this.DailyTreatment = resp.data.daily_treatment
          }).catch((reason) => {
          })
     },

     search() {
        this.loading = true
        list(this.query).then(resp => {
             this.loading = false
              this.AgentList = resp.data.list
              this.query.page = Number(resp.data.page)
              this.total = resp.data.total
              this.IsDoctor = resp.data.IsDoctor

          }).catch((reason) => {
             this.loading = false
          })
      },

      detail(id) {
          detail(id).then(response => {
          if (response.code === 20000) {
            this.formData = response.data
            this.dialogVisible = true
          }
        }).catch(() => {})
      },

      deleteInfo(id) {
        deleted(id).then(response => {
          if (response.code === 20000) {
            this.search()
          }
        }).catch(() => {})
      },

      submit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            var ary = [];
            this.formData.fw.forEach(function(e) {
              ary.push(e.fw_dt)
            })
            
            for(var i=0;i<ary.length;i++) {
              if (new Date(ary[i]).getTime() < new Date(this.formData.initial_dt).getTime()) {
                this.operationMsg(
                  '各随访时间不可以小于初诊时间！',
                  'error'
                )
                return false
              }
            }

            ary.push(this.formData.initial_dt)

            for(var i=0;i<ary.length;i++) {
              if (new Date(ary[i]).getTime() > new Date(this.formatDateTime()).getTime()) {
                this.operationMsg(
                  '初诊时间和各随访时间不可以大于当前时间！',
                  'error'
                )
                return false
              }
            }

            var s = ary.join(",") + ","
            for(var i=0;i<ary.length;i++) {
              if(s.replace(ary[i], "").indexOf(ary[i])>-1) {
                  this.operationMsg(
                    '初诊时间和各随访时间不可以同一天！',
                    'error'
                  )
                  return false
              }
            }

            update(this.formData).then(response => {
                 if (response.code === 20000) {
                      this.operationMsg('提交成功！', 'success')
                      this.close()
                      this.search()
                 }
            }).catch(() => {})
          }
        })
     },

   // 远程获取代表
   searchDoctor(cb) {
        searchAdminDoctor({"username": cb})
           .then(resp => {
                this.YYAgents = resp.data
           })
    },

    addfw() {
      var qn = {
       fw_dt: '',
       fw_hb_id: '',
       fw_sf_id: '',
       fw_iron_plan_id: '',
       fw_treatment_id: '',
       fw_daily_treatment_id: ''
     }
      this.formData.fw.push(qn)
    },

    deletefw(row) {
      var index = this.formData.fw.indexOf(row)
      this.formData.fw.splice(index, 1)
    },

    infoExport() {
      infoExport().then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch()
    },

     //消息提示
    operationMsg(message,type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      });
    },

    close() {
      this.dialogVisible = false
    },

    formatDateTime() {
      var now = new Date()
      var year = now.getFullYear()
      var month = now.getMonth()
      var date = now.getDate()
      month = month + 1
      if (month < 10){
          month = "0" + month
      }
      if (date < 10) {
       date = "0" + date
      }
      var time = year + "-" + month + "-" + date
      return time
    },

    showDiolog() {
      this.formData = {
          id: '',
          name: '',
          username: '',
          aid: '',
          old_aid: '',
          dcotor_name: '',
          dcotor_crm: '',
          patient_num: '',
          sex_id: '',
          age_id: '',
          diagnostic_results_id: [],
          hb_id: '',
          sf_id: '',
          iron_plan_id: '',
          treatment_id: '',
          daily_treatment_id: '',
          initial_dt: '',
          fw: []
      }
          this.dialogVisible = true
          if (this.IsDoctor === true) {
            this.formData.aid = this.yy_da_id
            this.GetDoctorInfo(this.yy_da_id)
          }
     },
  }

}
</script>
<style scoped>
.serveCompanyTitle {
     font-size: 13px;
     margin-right:1em;
     color: #4c4c4c;
     }
.page {
     margin-top: 10px;
}

tr.uhead {
     font-size: 1.2em;
}
</style>
