<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="大区">
            <el-select
              v-model="query.area"
              multiple
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="20">
          <el-form-item label="省份">
            <el-select
              v-model="query.province"
              multiple
              clearable
              placeholder="默认全部"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button style="margin-left: 20px;" @click="queryReset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>

    <div style="margin-bottom: -20px">
      <el-button type="primary" @click="exportSign">导出</el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      stripe
      border
      :summary-method="getSummaries"
      show-summary
      style="width: 100%;margin-top: 30px;"
    >
      <el-table-column prop="area_name" label="大区" align="center" />
      <el-table-column prop="province_name" label="省份" align="center" />
      <el-table-column prop="agent_count" label="代表数" align="center" />
      <el-table-column prop="doctor_count" label="活跃医生数" align="center" />
      <el-table-column prop="entry_count" label="治疗对象数" align="center" />
    </el-table>
  </div>
</template>

<script>
import { province } from '@/api/admin/agent';
import * as summaryApi from '@/api/entry/summary'

export default {
  name: 'UserSummary',
  components: { },
  data() {
    return {
      areaList: [],
      provinceList: [],
      query: {
        area: [],
        province: []
      },
      loading: false,
      list: []
    }
  },
  created() {
    this.getArea()
    this.search()
  },
  watch: {
    'query.area'(newVal, oldVal) {
      if (newVal!==undefined&&newVal!==''&&newVal!==0&&newVal!==null&&newVal.length!==0) {
        province({ area_id: newVal }).then(response => {
          this.provinceList = response.data
        }).catch(() => {})
      }
    }
  },
  methods: {
    getArea() {
      summaryApi.searchSummaryArea().then(response => {
        if (response.code === 20000) {
          this.areaList = response.data
        }
      }).catch(() => {})
    },

    search() {
      this.loading = true
      summaryApi.getUserSummary(this.query).then(response => {
        this.list = response.data
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    getSummaries(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (index === 2 || index === 3 || index === 4) {
          const values = data.map(item => Number(item[column.property]))
          if (!values.every(value => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
          } else {
            sums[index] = ''
          }
        }
      })

      return sums
    },

    exportSign() {
      summaryApi.exportUserSummary(this.query).then(response => {
        if (response.code === 20000) {
          this.operationMsg('任务已生成，ID' + response.data.id + '，请去任务列表查看', 'success')
        }
      }).catch(() => {
        console.log(error)
      })
    },

    queryReset() {
      this.query = {
        area: [],
        province: []
      }
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
